{% extends "vertigo_starts_eu/base.html" %}
{% load i18n pages_tags mezzanine_tags %}

{% block meta_title %}
    {% trans "Home" %}
{% endblock %}

{% spaceless %}
{% block body_class %}
    home
{% endblock %}
{% endspaceless %}

{% block main %}

    {% comment %}
    {% include "vertigo_starts_eu/home/inc/hero.html" %}
    {% endcomment %}

    {% include "home/inc/slider_large.html" %}

    {# {% include "home/inc/bio.html" %} #}

    {% if request.user.is_authenticated %}
    {# {{ request.user }} #}

      {% include "home/inc/blocks_private.html" %}

    {% else %}

      {% include "home/inc/blocks_public.html" %}

    {% endif %}

    {% comment %}
    <div class="section">
        {% include "home/inc/body.html" %}
    </div>
    {% endcomment %}

{% endblock %}
