{% extends "pages/page.html" %}
{% load i18n mezzanine_tags %}

{% block meta_title %}
	{% trans "Login" %}
{% endblock %}

{% block page_title %}
	<h1 class="dotted">{% trans "Sign Up" %}</h1>
{% endblock %}

{% block page_content %}
{% errors_for form %}
<form class="form" method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
    <fieldset>
    <legend>{{ title }}</legend>

    <p>Welcome to the STARTS community! A dedicated space to share opportunities, events and resources, gain visibility and network, with a unique focus on collaborations at the nexus of Science + Technology + ARTS.</p>

    <br />

    {% fields_for form %}

    <div class="form-actions">
        {% block account_form_actions %}

        <p>{% trans "After signing up, you'll receive an email with a link you need to click, in order to activate your account." %}</p>
        <br />

        <input class="btn btn-primary btn-lg pull-right" type="submit" value="{{ title }}">
        {% endblock %}
    </div>

    </fieldset>
</form>
{% endblock %}

