{% load organization_tags mezzanine_tags %}

<div class="producers-box producers-box__person producers-box__margin-right" >
    {% with producer.images.all|get_type:'card' as card_images %}
        {% if card_images %}
            <div class="producers-box__header">
                <figure>
                    <img class="lazyload" src="{{ MEDIA_URL }}{% thumbnail card_images.first 427 500 top=0.5 %}" alt="producer"/>
                </figure>
            </div>
        {% endif %}
    {% endwith %}

    <div class="producers-box__content tal">

        <h3 class="producers-box__title">{{ producer.name }}</h3>
        
        <p><a href="{{ producer.url }}">{{ producer.url }}</a></p>

        {% if producer.producer_data.first.producer_description %}
            <div class="producers-box__desc">{{ producer.producer_data.first.producer_description|richtext_filters|safe }}</div>
        {% endif %}
    </div>
</div>
