$module: ".account";

#{$module} {

    #main-content {
        padding-top: 36px;
        color: $color-black;
    }

    .header {

        &-background {
            background-image: url('../img/profile/profile_pix_line_480.png');
            background-repeat: repeat-x;
            height: 480px;
            width: 100%;
        }
    }


    .page {
        &__option {
            &-selected {
                // border-bottom : none;
            }
        }

        &__content {
            margin-top : 2em;
        }

        font-family: $serif;
    }

    #account-menu {
        border-bottom: 1px solid $color-gray;
    }

    .profile-pic {
        margin-top: 1em;
        img {
            clip-path: ellipse(145px 145px at 50% 50%);
        }
    }

    #settings-profile-container {
        p {
            text-align: justify;

            &.notice {
                font-style: italic;
                color: $color-link-menu;
                text-align: center;
            }
        
        }
    }


}