$module: ".account";

#{$module} {
    
    #main-content {
        padding-top: 36px;
    }

    .header {

        &-background {
            background-image: url('../img/profile/profile_pix_line_480.png');
            background-repeat: repeat-x;
            height: 480px;
            width: 100%;
        }
    }


    .page {
        &__option {
            &-selected {
                // border-bottom : none;
            }
        }
    }


    #account-menu {
        border-bottom: 1px solid $color-gray;
    }

}