{% load i18n pages_tags mezzanine_tags staticfiles keyword_tags event_tags organization_tags  %}

<div class="sidebar">
  <ul class="nav-header" role="navigation">

      <li class="nav-actions__item nav-actions__item--image-big ">
        <a href="{% url "home" %}" title="{% trans 'Home' %}">
          {% with host_organization.images|get_type:"logo_header" as images %}
            {% if images %}
             {% with images|first as img %}
              <img src="{{ MEDIA_URL }}{{ img }}" title="{{ img.title }}" class="nav-header__image-logo-responsive" />
             {% endwith %}
            {% endif %}
          {% endwith %}
        </a>
      </li>

      {% page_menu "pages/menus/action.html" %}
  </ul>
</div>
