{% load i18n pages_tags mezzanine_tags staticfiles keyword_tags event_tags organization_tags  %}

<div class="sidebar">
  <ul class="nav-header" role="navigation">

      <li class="nav-actions__item nav-actions__item--image-big ">
        <a href="{% url "home" %}" title="{% trans 'Home' %}">
          {% with host_organization.images|get_type:"logo_header" as images %}
            {% if images %}
             {% with images|first as img %}
              <img src="{{ MEDIA_URL }}{{ img }}" title="{{ img.title }}" class="nav-header__image-logo-responsive" />
             {% endwith %}
            {% endif %}
          {% endwith %}
        </a>
      </li>

      {% if request.user.is_authenticated %}
        <li class="nav-actions__item">
          <a href="/accounts/update/" class="nav-actions__item-link nav-actions__transform-word" title="Profile">Profile</a>
        </li>

        <li class="nav-actions__item">
          <a href="/accounts/logout/" class="nav-actions__item-link nav-actions__transform-word" title="Logout">Logout</a>
        </li>
      {% else %}
        <li class="nav-actions__item">
          <a href="/accounts/login/" class="nav-actions__item-link nav-actions__transform-word" title="Sign In">Sign In</a>
        </li>

        <li class="nav-actions__item">
          <a href="/accounts/signup/" class="nav-actions__item-link nav-actions__transform-word" title="Sign Up">Sign Up</a>
        </li>

        <li>
          <div class="nav-actions__separator_responsive_menu"></div>
        </li>

        {% page_menu "pages/menus/action.html" %}
      {% endif %}
  </ul>
</div>
