{% extends "vertigo_starts_eu/pages/page.html" %}
{% load i18n mezzanine_tags event_tags keyword_tags disqus_tags organization_tags staticfiles pages_tags %}

{% block meta_title %}
    {% if page %}
        {{ page.title }}
    {% else %}
        {% trans "News" %}
    {% endif %}
{% endblock %}

{% block meta_keywords %}
    {% metablock %}
        {% keywords_for page as keywords %}
        {% for keyword in keywords %}
            {% if not forloop.first %}, {% endif %}
            {{ keyword }}
        {% endfor %}
    {% endmetablock %}
{% endblock %}

{% block meta_description %}
    {% metablock %}
        {{ page.description }}
    {% endmetablock %}
{% endblock %}

{% block extra_head %}

{% endblock %}

{% block extra_js %}

<script>

$(function(){

   document.body.style.backgroundColor = "white";

})

</script>

{% endblock %}

{% block main %}

<div style="display:block;width:100px;margin-top:15%">
  <div class="page__title-blog-page">Residencies Blog</div>
</div>

{% endblock %}
