{% load i18n pages_tags staticfiles organization_tags %}
{% get_language_info_list for LANGUAGES as languages %}

<div class="copyright">
	&copy; 2019 STARTS. All rights reserved.
</div>

{% if page_branch_in_menu %}
<div class="links">
{% for page in page_branch %}
  {% if page.in_menu and page.content_model == "custompage" %}
		<a href="{{ page.get_absolute_url }}" title="{{ page.title }}">{{ page.title }}</a>
	{% endif %}
{% endfor %}
</div>

<div class="socials">
{% for page in page_branch %}
  {% if page.in_menu and page.content_model == "link" %}
		{% with image=page.link|get_image_link %}
			<a href="{{ page.get_absolute_url }}" title="{{ page.title }}">
				<img src="{{ image.url }}" alt="{{ image.alt }}">
			</a>
		{% endwith %}
	{% endif %}
{% endfor %}
{% comment %}
{% for link in host_organization.links.all %}
	<a href="{{ link.url }}" title="{{ link.title }}">
		<i class="fa fa-{{ link.link_type.fa_option }}"></i>
	</a>
{% endfor %}
{% endcomment %}
</div>
{% endif %}
