{% extends "accounts/base.html" %}

{% load i18n %}

{% block account_introduction %}
This is all about you here! This section shows you how the other members of the community will see you. The fields completed in your profile appear automatically here.
{% endblock %}

{% block page_content %}
    <div class="container col-md-5" data-profile-tab="about-item" id="settings-profile-container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h3>{% trans 'Account Type' %}</h3>
                <p>{{ object.get_account_type_display|safe }}</p>
            </div>
        </div>
        {% if object.professional_category %}
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h3>{% trans 'Category' %}</h3>
                <p>{{ object.professional_category|safe }}</p>
            </div>
        </div>
        {% endif %}
        {% if object.occupation %}
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h3>{% trans 'Occupation' %}</h3>
                <p>{{ object.occupation|safe }}</p>
            </div>
        </div>
        {% endif %}
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h3>{% trans 'Biography' %}</h3>
                {% if object.bio %}
                    <p>{{ object.bio|safe }}</p>
                {% else %}
                    {% if user.is_authenticated and user.person == object %}
                    <p class="notice">{% trans "Your biography seems to be empty. You can fill it " %}<a href="{% url "organization-network-profile-edit" %}" title="Profile Edit">{% trans "here" %}</a></p>
                    {% else %}
                    <p class="notice">{% trans "No biography available" %}</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12">
            <hr>
            <h3>{% trans 'Links' %}</h3>
            {% if object.links.all %}
                <ul>
                {% for link in object.links.all %}
                    <li>
                        <i class="link-icon fa fa-{{ link.link_type|lower }}"></i>
                        <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">{{ link.url }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            {% else %}
                {% if user.is_authenticated and user.person == object %}
                <p class="notice">{% trans "You can add some external links " %}<a href="{% url "organization-network-profile-edit" %}" title="Profile Edit">{% trans "here" %}</a></p>
                {% else %}
                <p class="notice">{% trans "No links available" %}</p>
                {% endif %}
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
