{% extends "accounts/base.html" %}

{% load i18n %}

{% block page_content %}
    <div class="container page__margin-top col-md-5" data-profile-tab="about-item" id="settings-profile-container">
        
        {% if object.bio %}
            {{ object.bio|safe }}
        {% else %}
            {% if user.is_authenticated %}
            <p class="notice">{% trans "Your biography seems to be empty. You can fill it " %}<a href="{% url "organization-network-profile-edit" %}" title="Profile Edit">{% trans "here" %}</a></p>
            {% else %}
            <p class="notice">{% trans "No biography available" %}</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}