{% extends "vertigo_starts_eu/pages/page.html" %}
{% load i18n mezzanine_tags staticfiles keyword_tags pages_tags organization_tags %}


{% block meta_title %}{% trans "Network" %}{% endblock %}

{% block meta_description %}
    {% metablock %}
        {{ organization.description }}
    {% endmetablock %}
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <!--<li class="breadcrumb__item active">{% trans "Network" %}</li>-->
{% endblock %}

{% block extra_js %}

<script type="text/javascript" src="{% static "components/vendors.js" %}"></script>
<script type="text/javascript" src="{% static "components/interactive-map.js" %}"></script>

{% endblock %}

{% block page_content %}

<div id="interactive-map"></div>

{% endblock %}
