{% extends "vertigo_starts_eu/pages/page.html" %}
{% load i18n mezzanine_tags staticfiles keyword_tags pages_tags organization_tags %}


{% block meta_title %}{% trans "Network" %}{% endblock %}

{% block meta_description %}
    {% metablock %}
        {{ organization.description }}
    {% endmetablock %}
{% endblock %}

{% block page_class %}
    organization
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li class="breadcrumb__item active">{% trans "Network" %}</li>
{% endblock %}

{% block extra_head %}


<script type="text/javascript" src="{% static "mezzanine/js/jquery-1.8.3.min.js" %}"></script>
<script src="https://unpkg.com/jquery@2.2.4/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
  integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
  crossorigin=""/>

  <!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
  integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
  crossorigin=""></script>

<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"
  crossorigin=""></link>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"
  crossorigin=""></link>
<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"
  crossorigin=""></script>

<script>

var currentMap;

function parseJSON(jsonObject, map) {

  $(function() {

    var producers = jsonObject["producers"];
    var organizations = jsonObject["organizations"];
    var residencies = jsonObject["residencies"];
    var persons = jsonObject["persons"];

    producers = producers.concat(organizations);
    producers = producers.concat(residencies);
    producers = producers.concat(persons);

    var markers = L.markerClusterGroup({showCoverageOnHover: true,
                                        zoomToBoundsOnClick: true,
                                        removeOutsideVisibleBounds: true});

    var detailMarker = document.getElementById("detail-marker");

    detailMarker.style.display = 'none';

    for (var i = 0; i < producers.length; i++) {

        var item = producers[i];

        var lat = item["lat"];
        var lon = item["lon"];
        var name = item["name"];

        if ('title' in item) {
          name = item["title"];
        }

        var marker = L.marker(new L.LatLng(lat, lon), {  title: name });
        marker.id_value = i;
        marker.title = name;
        marker.on('click', function (e) {

            var id = e.target.id_value;

            var item = producers[id];

            var name = item["name"];

            if ('title' in item) {
              name = item["title"];
            }

            var description = item["description"];
            var url = item["url"];
            var city = item["city"];

            var htmlString = "";

            if ('image' in item) {
              htmlString += "<div style=\"background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('" + item["image"] + "');height:100%\">";
            } else {
              htmlString += "<div style=\"background:#000f24;height:100%\">";
            }

            htmlString += "<div style=\"padding-top:30%;position:relative\">"
            htmlString += "<center>";


            htmlString += "<div style=\"font-size:30px;font-family:'Oswald',sans-serif;color:white;\"><b>" + name + "</b></div><br>";

            if (city != "" && city != null) {

              htmlString += "<div style=\"font-family:15px;color:white;\"><b>" + city + "</b></div><br><br>";
            }

            if (description != "") {

              htmlString += "<div style=\"text-transform:capitalize;font-family:15px;color:white;margin-right:1%;margin-left:1%\">" + description + "</div><br>";
            } else {

              htmlString += "<br>";
            }

            if ("url" in item) {
              if (url != "") {

                htmlString += "<a href=\"" + url + "\" target=\"_blank\" style=\"color:white;\">" + url + "</a>";
              }
            }

            htmlString += "</center>";
            htmlString += "</div></div>";

            detailMarker.innerHTML = htmlString;
            detailMarker.style.display = 'block';
        });

        markers.addLayer(marker);
    }

    map.addLayer(markers);

    map.on('click', function(e) {

        detailMarker.style.display = 'none';
    });
  });
}

function createMap() {

  $(function() {

    currentMap = L.map('mapid').setView([47.91, 6.85], 3.2);

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: 'pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw',
    }).addTo(currentMap);

  });
}

function createMapView() {

  $.ajax({
  type: 'GET',
  url: '/public-network-data/',
  dataType: 'json',
  contentType: 'application/json; charset=utf-8',
  success: function (data) {

        if (!currentMap) {

          createMap();
        }

        if (data && currentMap) {

          parseJSON(data, currentMap);
        }
    },
    error: function(request, status, errorThrown) {

        if (!currentMap) {

          createMap();
        }
    }
  });
}

//window.onload = createMapView();

$(function(){
   createMapView();
})

</script>
{% endblock %}




{% block page_slider %}


<!--
    <div style="position: relative;">
        <div class="map" id="network-map">
        </div>
        <div class="map-legend">
            {% for type in organization_types %}
                <div class="map-legend__item map-legend__item--{{ type.1 }}">{{ type.0 }}</div>
            {% endfor %}
        </div>
    </div>
-->
    <div id="map-element-content" style="position:relative;display:block;margin-right:-3.5%;margin-top:2%;height:800px">
       <div id="mapid" style="height:100%;">

         <div id="detail-marker" class="project-ict-detail__detail-marker" style="display:none">
         </div>
       </div>
    </div>


    <div class="container hide">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-push-1">
                <div class="slider-network">
                    <ul class="slider-network__slider" data-slider-network>
                        {% for organization in organizations %}
                            <li class="slider-network__slide" data-marker-url="{{organization.url}}" data-marker-color="{{ organization.type.css_class }}" {% with organization.images.all|get_type:'logo' as images %}{% if images %}data-marker-image="{{ MEDIA_URL }}{{images.first.file}}"{% endif %}{% endwith %} data-marker-idx="{{forloop.counter0}}" data-marker-lat="{{ organization.lat }}" data-marker-lng="{{ organization.lon }}">
                                <div class="slider-network__slide-image"
                                    {% with organization.images.all|get_type:'logo' as images %}
                                        {% if images %}
                                            style="background-image: url('{{ MEDIA_URL }}{{images.first.file}}');"
                                        {% endif %}
                                    {% endwith %}
                                >
                                </div>
                                <div class="slider-network__slide-title" data-marker-title>
                                    {{ organization.name }}
                                </div>
                                <div class="slider-network__slide-subtitle" data-marker-subtitle>
                                    {{ organization.city }}, {{ organization.country.name }}
                                </div>
                                <div class="">
                                    {{ organization.type }}, {{ organization.type.css_class }}
                                </div>
                                <div class="slider-network__slide-description" data-marker-description>
                                    {{ organization.description }}
                                </div>
                            </li>

                            {% comment %}
                                {{ organization.name }}<br>
                                {{ organization.lat }}<br>
                                {{ organization.lon }}<br>
                                {{ organization.city }}<br>
                                {{ organization.country.name }}<br>

                                <!-- optional -->
                                {% with organization.links|get_type_link:'link' as links %}
                                    {% if links %}
                                        {{ links.first }}
                                    {% endif %}
                                {% endwith %}
                                <br>
                                <!-- optional -->
                                {% with organization.images.all|get_type:'logo' as images %}
                                    {% if images %}
                                        <img src="{{ MEDIA_URL }}{% thumbnail images.first.file 100 0 left=0 top=0 %}" alt="logo {{ organization.name }}" />
                                    {% endif %}
                                {% endwith %}
                                <br><br>
                            {% endcomment %}

                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
