{% extends "vertigo_starts_eu/pages/page.html" %}
{% load mezzanine_tags staticfiles keyword_tags i18n organization_tags pages_tags %}

{% block extra_head %}
    <script>
        $(function(){
            $(".list_header").click(function () {
                $header = $(this);
                $content = $header.next();
                $content.slideToggle(500);
            });
        });
    </script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
      integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
      crossorigin=""/>

      <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
      integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
      crossorigin=""></script>

   <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"
      crossorigin=""></link>
   <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"
      crossorigin=""></link>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"
      crossorigin=""></script>


{% endblock %}


{% block meta_title %}
    {% trans "Producer List" %}
{% endblock %}


{% block meta_keywords %}
    {% metablock %}
    {% keywords_for object as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
    {% endmetablock %}
{% endblock %}





{% block body_class %}
    pattern pattern-bg {{ department.pages.all.0.weaving_css_class }}
{% endblock %}


{% block breadcrumb_menu %}
    {{ block.super }}
    <li class="breadcrumb__item active">{{ object.name }}</li>
{% endblock %}


{% block page_tags %}

    {% comment %}
        {% if department %}
            <div class="tag dashed dashed--yellow">
              {{ department.pages.all.0.title }}
            </div>
        {% endif %}
        <div class="tag tag--category">
            {% trans 'Producer' %}
        </div>
    {% endcomment %}

{% endblock %}


{% block page_title %}

    <h1 class="dotted">
        {% trans "Producers" %}
    </h1>

{% endblock %}


{% block main %}

<script>

var currentMap;

function changeViewItems(object, event) {

  event.preventDefault();

  var id_item = object.id;

  var clickedItem = document.getElementById(id_item);
  var altItem = document.getElementById((id_item == "dots-item") ? "map-marker" : "dots-item");

  var clickedItemIcon = document.getElementById(id_item + "-icon");
  var altItemIcon = document.getElementById(((id_item == "dots-item") ? "map-marker" : "dots-item") + "-icon");

  altItem.classList.remove("article-box__icon-marker-item-highlight");
  altItem.classList.add("article-box__icon-marker-item-clean");

  altItemIcon.classList.remove("article-box__icon-marker-item-highlight-icon");
  altItemIcon.classList.add("article-box__icon-marker-item-clean-icon");

  clickedItem.classList.add("article-box__icon-marker-item-highlight");
  clickedItem.classList.remove("article-box__icon-marker-item-clean");

  clickedItemIcon.classList.add("article-box__icon-marker-item-highlight-icon");
  clickedItemIcon.classList.remove("article-box__icon-marker-item-clean-icon");

  var mapElement = document.getElementById("map-element-content");
  var listElemet = document.getElementById("producer-list");

  if (id_item == "dots-item") {

    mapElement.style.display = "none";
    listElemet.style.display = "block";

  } else {

    mapElement.style.display = "block";
    listElemet.style.display = "none";

    $.ajax({
      type: 'GET',
      url: '/public-network-data/',
      dataType: 'json',
      contentType: 'application/json; charset=utf-8',
      success: function (data) {

          if (!currentMap) {

            createMap();
          }

          if (data && currentMap) {

            parseJSON(data, currentMap);
          }
      },
      error: function(request, status, errorThrown) {

          if (!currentMap) {

            createMap();
          }
      }
    });
  }

  function createMap() {

    $(function() {

        currentMap = L.map('mapid').setView([47.91, 6.85], 2);

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox.streets',
            accessToken: 'pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw',
        }).addTo(currentMap);

      });
  }

  function parseJSON(jsonObject, map) {

    $(function() {

        var organizations = jsonObject["organizations"];

        var markers = L.markerClusterGroup({showCoverageOnHover: true,
                                            zoomToBoundsOnClick: true,
                                            removeOutsideVisibleBounds: true});

        var detailMarker = document.getElementById("detail-marker");

        detailMarker.style.display = 'none';

        for (var i = 0; i < organizations.length; i++) {

            var item = organizations[i];

            var lat = item["lat"];
            var lon = item["lon"];
            var name = item["name"];

            var marker = L.marker(new L.LatLng(lat, lon), {  title: name });
            marker.id_value = i;
            marker.title = name;
            marker.on('click', function (e) {

                var id = e.target.id_value;

                var item = organizations[id];

                var name = item["name"];
                var description = item["description"];
                var url = item["url"];
                var city = item["city"];

                var htmlString = "";

                if ('image' in organizations) {
                  htmlString += "<div style=\"background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('" + item["image"] + "');height:100%\">";
                } else {
                  htmlString += "<div style=\"background:lightgray;height:100%\">";
                }

                htmlString += "<div style=\"padding-top:30%;position:relative\">"
                htmlString += "<center>";
                htmlString += "<div style=\"font-size:30px;font-family:'Oswald',sans-serif;\"><b>" + name + "</b></div><br>";

                if (city != "" && city != null) {

                  htmlString += "<div style=\"font-family:15px;\"><b>" + city + "</b></div><br><br>";
                }

                if (description != "") {

                  htmlString += "<div style=\"text-transform:capitalize;font-family:15px;\">" + description + "</div><br>";
                } else {

                  htmlString += "<br>";
                }

                if (url != "") {

                  htmlString += "<a href=\"" + url + "\" target=\"_blank\">" + url + "</a>";
                }

                htmlString += "</center>";
                htmlString += "</div></div>";

                detailMarker.innerHTML = htmlString;
                detailMarker.style.display = 'block';
            });

            markers.addLayer(marker);

        }

        map.addLayer(markers);

        map.on('click', function(e) {

            detailMarker.style.display = 'none';
        });
    });
  }
}

function showHideChevronTags(object, event) {

  event.preventDefault();

  var id_item = object.id;

  var chevronItem = document.getElementById("chevron-tags");
  var itemsClass = chevronItem.classList;
  var tagsDivContent = document.getElementById("tags-content");

  var openChevron = false;

  for (var i = 0; i < itemsClass.length; i++) {

    if (itemsClass[i].toLowerCase() == 'fa-chevron-down') {

      openChevron = true;
      break;
    }
  }

  if (openChevron) {

    chevronItem.classList.remove("fa-chevron-down");
    chevronItem.classList.add("fa-chevron-up");
    tagsDivContent.style.display = 'block';
  } else {

    chevronItem.classList.remove("fa-chevron-up");
    chevronItem.classList.add("fa-chevron-down");
    tagsDivContent.style.display = 'none';
  }
}

function selectDesectedTag(object, event) {

  event.preventDefault();

  var clickedItem = object;

  var itemsClass = clickedItem.classList;

  var selectedTag = true;

  for (var i = 0; i < itemsClass.length; i++) {

    if (itemsClass[i].toLowerCase() == 'project-ict-detail__unselect-tag-search') {

      selectedTag = false;
      break;
    }
  }

  if (selectedTag) {

    clickedItem.classList.remove("project-ict-detail__select-tag-search");
    clickedItem.classList.add("project-ict-detail__unselect-tag-search");

  } else {

    clickedItem.classList.remove("project-ict-detail__unselect-tag-search");
    clickedItem.classList.add("project-ict-detail__select-tag-search");

  }
}

</script>

<div class="page page--{% spaceless %}{% block page_class %}{% endblock %}{% endspaceless %}"  style="margin-top:-3%">
    <div class="container">
        <div class="row">
            <div class="col-sm-16 col-md-10 col-md-push-3 tac">
                <h1 class="section-title section-title--uppercase section-title--main section-title--underline" style="margin-bottom:0px;">{% trans "Producers" %}</h1>

                    {% comment %}
                    <div onclick="showHideChevronTags(this, event);" class="project-ict-detail__single-separator project-ict-detail__place-chevron">
                      <i id="chevron-tags" class="fa project-ict-detail__divider-chevron-section fa-chevron-down" aria-hidden="true"></i>
                    </div>
                    {% endcomment %}

                    <div id="tags-content" class="project-ict-detail__align-tags-search" style="display:none">

                      {% comment %}
                      {% for kw in object.keywords.all %}
                          <div id="tag-search" class="project-ict-detail__chevron-tag-style-search project-ict-detail__unselect-tag-search"  onclick="selectDesectedTag(this, event);">{{ kw|capfirst }}</div>
                      {% endfor %}

                      <div id="tag-search" class="project-ict-detail__chevron-tag-style-search project-ict-detail__unselect-tag-search" onclick="selectDesectedTag(this, event);">One</div>
                      <div id="tag-search" class="project-ict-detail__chevron-tag-style-search project-ict-detail__unselect-tag-search" onclick="selectDesectedTag(this, event);">Two</div>
                      <div id="tag-search" class="project-ict-detail__chevron-tag-style-search project-ict-detail__unselect-tag-search" onclick="selectDesectedTag(this, event);">Three</div>
                      <div id="tag-search" class="project-ict-detail__chevron-tag-style-search project-ict-detail__unselect-tag-search" onclick="selectDesectedTag(this, event);">Four</div>
                      <div id="tag-search" class="project-ict-detail__chevron-tag-style-search project-ict-detail__unselect-tag-search" onclick="selectDesectedTag(this, event);">Five</div>
                      <div id="tag-search" class="project-ict-detail__chevron-tag-style-search project-ict-detail__unselect-tag-search" onclick="selectDesectedTag(this, event);">Six</div>
                      <div id="tag-search" class="project-ict-detail__chevron-tag-style-search project-ict-detail__unselect-tag-search" onclick="selectDesectedTag(this, event);">Seven</div>
                      <div id="tag-search" class="project-ict-detail__chevron-tag-style-search project-ict-detail__unselect-tag-search" onclick="selectDesectedTag(this, event);">Eight</div>
                      <div id="tag-search" class="project-ict-detail__chevron-tag-style-search project-ict-detail__unselect-tag-search" onclick="selectDesectedTag(this, event);">Nine</div>
                      <div id="tag-search" class="project-ict-detail__chevron-tag-style-search project-ict-detail__unselect-tag-search" onclick="selectDesectedTag(this, event);">Ten</div>
                      <div id="tag-search" class="project-ict-detail__chevron-tag-style-search project-ict-detail__unselect-tag-search" onclick="selectDesectedTag(this, event);">Eleven</div>
                      <div id="tag-search" class="project-ict-detail__chevron-tag-style-search project-ict-detail__unselect-tag-search" onclick="selectDesectedTag(this, event);">Twelve</div>
                      <div id="tag-search" class="project-ict-detail__chevron-tag-style-search project-ict-detail__unselect-tag-search" onclick="selectDesectedTag(this, event);">Thirteen</div>
                      <div id="tag-search" class="project-ict-detail__chevron-tag-style-search project-ict-detail__unselect-tag-search" onclick="selectDesectedTag(this, event);">Fourteen</div>

                    </div>
                    {% endcomment %}
                    <div class="article-box__view-changer-container" style="margin-bottom:25px">
                      <div id="dots-item" class="article-box__item-marker-common article-box__icon-marker-item-highlight" onclick="changeViewItems(this, event);">
                        <a id="dots-item-icon" class="article-box__icon-marker-item-highlight-icon" href="#">
                          <i class="fa fa-th article-box__align-center-dots"></i>
                        </a>
                      </div>
                      <div id="map-marker" class="article-box__item-marker-common article-box__icon-marker-item-clean" onclick="changeViewItems(this, event);">
                        <a id="map-marker-icon" class="article-box__icon-marker-item-clean-icon" href="#">
                          <i class="fa fa-map-marker article-box__align-center-marker"></i>
                        </a>
                      </div>
                    </div>

            </div>
        </div>

        <div class="row">

            <div class="mb2 col-md-12 col-md-push-2 page__content" data-summary-content>
                <div class="page__content">
                    <div class="container">
                        <div id="producer-list" class="row" style="display:block">
                            {% for producer in object_list %}
                                <div class="col-md-16">
                                   {# Card included for each producer #}
                                   {% include "network/inc/producers/producers_list_card_box.html" %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="map-element-content" style="position:relative;display:none;margin-right:-3.5%;margin-top:-2%">

       <div id="mapid">

         <div id="detail-marker" class="project-ict-detail__detail-marker" style="display:none">
         </div>
       </div>
    </div>
    {% pagination_for object_list %}
</div>

{% endblock %}
