{% extends "vertigo_starts_eu/pages/page.html" %}
{% load i18n mezzanine_tags staticfiles keyword_tags pages_tags organization_tags %}


{% block meta_title %}{% trans "Network" %}{% endblock %}

{% block meta_description %}
    {% metablock %}
        {{ organization.description }}
    {% endmetablock %}
{% endblock %}

{% block page_class %}
    organization
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <!--<li class="breadcrumb__item active">{% trans "Network" %}</li>-->
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
  integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
  crossorigin=""/>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"
  crossorigin="">
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"
  crossorigin="">
{% endblock %}

{% block extra_js %}
  <!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
  integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
  crossorigin=""></script>

<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"
  crossorigin=""></script>


<script src="{% static 'vertigo_starts_eu/js/network_filter/network_filter.js' %}"></script>

<script>

$(function(){

   createMapView();

   document.body.style.backgroundColor = "white";

})

</script>

{% endblock %}

{% block page_slider %}


<!--
    <div style="position: relative;">
        <div class="map" id="network-map">
        </div>
        <div class="map-legend">
            {% for type in organization_types %}
                <div class="map-legend__item map-legend__item--{{ type.1 }}">{{ type.0 }}</div>
            {% endfor %}
        </div>
    </div>
-->

    <div class="article-box__content-row" style="position:relative;padding-top:3%">

        <!--<div class="article-box__view-changer-container article-box__space-center-responsive" style="width: 100px;">-->
        <div class="article-box__tag-item-row">
          <div id="dots-item" class="article-box__item-marker-common" onclick="changeViewItems(this, event);">

          </div>
          <div id="map-marker" class="article-box__item-marker-common article-box__icon-marker-item-clean" onclick="changeViewItems(this, event);">

          </div>
        </div>

        <div id="tags-content" style="text-align:center;display:flex;margin:auto">
      <!--    <div id="tag-calls" class="article-box__tag-style" style="display:none" onlcick="showGroupTags(this, event);">Calls</div> -->
          <div id="tag-residencies" class="article-box__tag-style" style="display:none" onlcick="showGroupTags(this, event);">Residencies</div>
          <div id="tag-users" class="article-box__tag-style" style="display:none" onlcick="showGroupTags(this, event);">Users</div>
          <div id="tag-organizations" class="article-box__tag-style" style="display:none" onlcick="showGroupTags(this, event);">Organizations</div>
          <div id="tag-producers" class="article-box__tag-style" style="display:none" onlcick="showGroupTags(this, event);">Producers</div>
        <!--  <div id="tag-partners"class="article-box__tag-style" style="display:none" onlcick="showGroupTags(this, event);">network Partners</div> -->
        </div>

      <div id="tags-counter" class="article-box__tag-counter-item">

      </div>
  </div>

    <div id="map-element-content" style="position:relative;display:block;margin-right:-3.5%;margin-top:2%;height:800px">
       <div id="mapid" style="height:100%;">

         <div id="detail-marker" class="project-ict-detail__detail-marker" style="display:none">
         </div>
       </div>
    </div>


    <div class="container hide">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-push-1">
                <div class="slider-network">
                    <ul class="slider-network__slider" data-slider-network>
                        {% for organization in organizations %}
                            <li class="slider-network__slide" data-marker-url="{{organization.url}}" data-marker-color="{{ organization.type.css_class }}" {% with organization.images.all|get_type:'logo' as images %}{% if images %}data-marker-image="{{ MEDIA_URL }}{{images.first.file}}"{% endif %}{% endwith %} data-marker-idx="{{forloop.counter0}}" data-marker-lat="{{ organization.lat }}" data-marker-lng="{{ organization.lon }}">
                                <div class="slider-network__slide-image"
                                    {% with organization.images.all|get_type:'logo' as images %}
                                        {% if images %}
                                            style="background-image: url('{{ MEDIA_URL }}{{images.first.file}}');"
                                        {% endif %}
                                    {% endwith %}
                                >
                                </div>
                                <div class="slider-network__slide-title" data-marker-title>
                                    {{ organization.name }}
                                </div>
                                <div class="slider-network__slide-subtitle" data-marker-subtitle>
                                    {{ organization.city }}, {{ organization.country.name }}
                                </div>
                                <div class="">
                                    {{ organization.type }}, {{ organization.type.css_class }}
                                </div>
                                <div class="slider-network__slide-description" data-marker-description>
                                    {{ organization.description }}
                                </div>
                            </li>

                            {% comment %}
                                {{ organization.name }}<br>
                                {{ organization.lat }}<br>
                                {{ organization.lon }}<br>
                                {{ organization.city }}<br>
                                {{ organization.country.name }}<br>

                                <!-- optional -->
                                {% with organization.links|get_type_link:'link' as links %}
                                    {% if links %}
                                        {{ links.first }}
                                    {% endif %}
                                {% endwith %}
                                <br>
                                <!-- optional -->
                                {% with organization.images.all|get_type:'logo' as images %}
                                    {% if images %}
                                        <img src="{{ MEDIA_URL }}{% thumbnail images.first.file 100 0 left=0 top=0 %}" alt="logo {{ organization.name }}" />
                                    {% endif %}
                                {% endwith %}
                                <br><br>
                            {% endcomment %}

                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
