{# {% extends "vertigo_starts_eu/pages/page_profile_detail.html" %} #}
{% extends "vertigo_starts_eu/accounts/account_form_profile_operations_detail.html" %}
{% load mezzanine_tags keyword_tags i18n organization_tags pages_tags %}

{% block meta_title %}{{ person.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for person as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block page_class %}
    person
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li class="breadcrumb__item active">{{ person }}</li>
{% endblock %}

{% block page_title %}

      <script type="text/javascript">

      function selectCurrentTab() {


        //document.getElementById("select-messages").className = "page__option-selected";
      }

      function changePublicView(event, object) {

        event.preventDefault();

        var profile = document.getElementById("public-profile-item");
        var blog = document.getElementById("public-residency-blog-item");
        var following = document.getElementById("public-following-item");
        var follower = document.getElementById("public-follower-item");
        var applicationForm = document.getElementById("public-application-form");
        var profileSettings = document.getElementById("public-profile-settings");

        document.getElementById("content_public-profile-item").style.display = "none";
        document.getElementById("content_public-residency-blog-item").style.display = "none";
        document.getElementById("content_public-following-item").style.display = "none";
        document.getElementById("content_public-follower-item").style.display = "none";

        if (applicationForm != null) {
          document.getElementById("content_public-application-form").style.display = "none";
        }

        if (profileSettings != null) {
          document.getElementById("content_public-profile-settings").style.display = "none";
        }

        profile.classList.remove("page__option-selected");
        blog.classList.remove("page__option-selected");
        following.classList.remove("page__option-selected");
        follower.classList.remove("page__option-selected");

        if (applicationForm != null) {
          applicationForm.classList.remove("page__option-selected");
        }

        if (profileSettings != null) {
          profileSettings.classList.remove("page__option-selected");
        }

        profile.classList.add("page__option-unselected");
        blog.classList.add("page__option-unselected");
        following.classList.add("page__option-unselected");
        follower.classList.add("page__option-unselected");

        if (applicationForm != null) {
          applicationForm.classList.add("page__option-unselected");
        }

        if (profileSettings != null) {
          profileSettings.classList.add("page__option-unselected");
        }

        object.classList.add("page__option-selected");
        object.classList.remove("page__option-unselected");

        var contentDisplay = document.getElementById("content_" + object.id);
        contentDisplay.style.display = "block";
      }

      function changeFollowStatus(event,object) {

        event.preventDefault();

        var styleList = document.getElementById("element-social").classList;

        var followItem = document.getElementById("element-social-follow");
        var unfollowItem = document.getElementById("element-social-unfollow");

        var followItemContent = document.getElementById("start-follow-item");
        var unfollowItemContent = document.getElementById("stop-follow-item");

        for (var i = 0; i < styleList.length;i++) {

          var currentStyle = styleList[i];

          if (currentStyle == "page__circle-cross-red") {

            object.classList.add("page__circle-check-green");
            object.classList.remove("page__circle-cross-red");

            followItem.style.display = "block";
            unfollowItem.style.display = "none";

            followItemContent.style.display = "block";
            unfollowItemContent.style.display = "none";
            break;
          }

          if (currentStyle == "page__circle-check-green") {

            object.classList.add("page__circle-cross-red");
            object.classList.remove("page__circle-check-green");

            followItem.style.display = "none";
            unfollowItem.style.display = "block";

            followItemContent.style.display = "none";
            unfollowItemContent.style.display = "block";
            break;
          }
        }
      }

      function shareActionButton(event, object) {

        event.preventDefault();

        var idObject = object.id;

        if (idObject == "share-twitter") {

        }

        if (idObject == "share-linkedin") {

        }

        if (idObject == "share-facebook") {

        }

        if (idObject == "share-instagram") {

        }

        if (idObject == "share-youtube") {

        }
      }

      window.onload = selectCurrentTab;

      </script>


      {# Public and Private section #}
      {% with person.images.all|get_type:'card' as card_images %}
        {% if card_images %}

            <div class="page__image-container" style="height:auto;margin-top:-6.5%;padding-top:20px;background:gray;">
              <div style="position:relative">
                {% if card_images.first %}
                <img class="lazyload page__image-main_banner_profile" src="{{ MEDIA_URL }}{% thumbnail card_images.first 200 200 top=0.5 %}" alt="person"/>
                {% else %}
                <div class="page__image-main_banner_profile page__circle-gray">
                  <i class="fa fa-user page__style-user-icon" style="display:block;font-size:170px;text-align:center;" aria-hidden="true"></i>
                </div>
                {% endif %}
                <div id="element-social" class="page__circle-cross-red page__icon-follow-action" onclick="changeFollowStatus(event,this);">
                  <i id="element-social-follow" class="fa fa-check page__style-check-icon" style="display:none;" aria-hidden="true"></i>
                  <i id="element-social-unfollow" class="fa fa-close page__style-cross-icon" style="display:block;" aria-hidden="true"></i>
                </div>
              </div>
              <div class="page__main-title-profile-public">{{ person.title }}</div>
              <div style="margin-top:1%;position:relative;padding-bottom:1%">
                <div class="page__main-subtitle-profile-public page__subtitle-public-item">Researcher, Autor - Oxford, UK</div>
                {% comment %}
                {% with person.links.all.0 as link %}
                    {% if person.links.all.0 %}
                        <a href="{{ link }}" blank="true" class="page__link-public-profile">{{ link }}</a><br/><br/>
                    {% endif %}
                {% endwith %}
                {% endcomment %}
                  <a href="{{ link }}" blank="true" class="page__link-public-profile">http://wekit.eu/</a>
                  <div class="page__container-buttons-share">
                    <div id="share-twitter" class="page__circle-small-share-button page__twitter-share-container" onclick="shareActionButton(event, this);">
                      <i class="fa fa-twitter page__twitter-icon-style" aria-hidden="true"></i>
                    </div>
                    <div id="share-linkedin" class="page__circle-small-share-button page__linkedin-share-container" onclick="shareActionButton(event, this);">
                      <i class="fa fa-linkedin page__linkedin-icon-style" aria-hidden="true"></i>
                    </div>
                    <div id="share-facebook" class="page__circle-small-share-button page__facebook-share-container" onclick="shareActionButton(event, this);">
                      <i class="fa fa-facebook page__facebook-icon-style" aria-hidden="true"></i>
                    </div>
                    <div id="share-instagram" class="page__circle-small-share-button page__instagram-share-container" onclick="shareActionButton(event, this);">
                      <i class="fa fa-instagram page__instagram-icon-style" aria-hidden="true"></i>
                    </div>
                    <div id="share-youtube" class="page__circle-small-share-button page__youtube-share-container" onclick="shareActionButton(event, this);">
                      <i class="fa fa-youtube-play page__youtube-icon-style" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
            </div>
        {% else %}
            <div style="padding-botton:2%">

            </div>
        {% endif %}
      {% endwith %}

      <div class="page__submenu-public-profile" {% if person.images.all|length == 0 %} style="padding-top:5%"{% endif %}>
        <a href="#"><span id="public-profile-item" onclick="changePublicView(event,this);" class="page__option-selected">{% if request.user.is_authenticated %}About{% else %}Profile{% endif %}</span></a>
        <a href="#"><span id="public-residency-blog-item" onclick="changePublicView(event,this);" class="page__option-unselected">Residency Blog</span></a>
        <a href="#"><span id="public-following-item" onclick="changePublicView(event,this);" class="page__option-unselected">Following</span></a>
        <a href="#"><span id="public-follower-item" onclick="changePublicView(event,this);" class="page__option-unselected">Followers</span></a>
      {% if request.user.is_authenticated %}
        <a href="#"><span id="public-application-form" onclick="changePublicView(event,this);" class="page__option-unselected">Application form(s)</span></a>
        <a href="#"><span id="public-profile-settings" onclick="changePublicView(event,this);" class="page__option-unselected">Profile & Settings</span></a>
       {% endif %}

      </div>

      <div id="start-follow-item" style="display:none" class="page__follow-public-text">
        <b>You just started following {{ person.title }}.</b><br />
        You will receive updates monthly by mail.
      </div>
      <div id="stop-follow-item" style="display:block" class="page__unfollow-public-text">
        <b>You just stopped following {{ person.title }}.</b><br />
        You will no longer receive updates by mail.
      </div>

      {% comment %}
      {% if request.user.is_authenticated %}

      <!--  <h1 class="section-title section-title--big section-title--uppercase section-title--main" style="{% if request.user.is_authenticated %}color:black{% else %}color:white{% endif %}">{{ person.title|upper }}</h1> -->

        <div class="page__center-bio" style="{% if request.user.is_authenticated %}color:black{% else %}color:white{% endif %}">
            {% if person.email %}Email: <a href="mailto:{{ person.email }}">{{ person.email }}</a><br/><br/>{% endif %}
            {% if person.telephone %}Telephone: {{ person.telephone }}<br/><br/>{% endif %}
            {% if person.address %}Address: {{ person.address }}<br/><br/>{% endif %}
            {% if person.city %}City: {{ person.city }}<br/><br/>{% endif %}
            {% if person.country %}Country: {{ person.country }}<br/><br/>{% endif %}
        </div>
      {% endif %}
      {% endcomment %}

      {% comment %}
      {% if request.user.is_authenticated %}
      <div id="bio-item" class="page__center-bio" style="{% if request.user.is_authenticated %}color:black{% else %}color:white{% endif %}">
        {% if person.bio %}
          <div class="page__fancy-font">Biography: {{ person.bio|richtext_filters|safe }}</div>
        {% endif %}
      </div>
      {% else %}
      {% endcomment %}
          <div id="content_public-profile-item"class="page__fancy-font page__items-public-menu" style="display:block;">
            <div class="page__about-content">
            {% if person.bio %}{{ person.bio|richtext_filters|safe }}{% endif %}
            </div>
          </div>
          <div id="content_public-residency-blog-item" class="page__fancy-font page__items-public-menu" style="display:none;">
            <div class="page__residency-blog-content">
              {{ person.title }} hasn't shared any update yet.
              <br/><br/>
              Follow {{ person.title }} to receive notifications about future updates.
            </div>
          </div>
          <div id="content_public-following-item"class="page__fancy-font page__items-public-menu" style="display:none;">Following content</div>
          <div id="content_public-follower-item"class="page__fancy-font page__items-public-menu" style="display:none;">Follower content</div>

      {% comment %}
      {% endif %}


      <div class="page__center-bio" style="{% if request.user.is_authenticated %}color:black{% else %}color:white{% endif %}">
        {% with person.links.all.0 as link %}
            {% if link %}
                Site: <a href="{{ link }}" blank="true" style="{% if request.user.is_authenticated %}color:black{% else %}color:white{% endif %}">{{ link }}</a><br/><br/>
            {% endif %}
        {% endwith %}
      </div>
        {% endcomment %}

{% comment %}
    {% editable person.title %}
{% endcomment %}

{% comment %}
    {% endeditable %}
{% endcomment %}
{% comment %}
    {% with person.images.all|get_type:'card' as card_images %}
        {% if card_images %}
            <div class="page__image-container">
              <img style="width:100%;" class="lazyload" src="{{ MEDIA_URL }}{% thumbnail card_images.first 1030 400 top=0.5 %}" alt="person"/>
              {% if card_images.first.credits|length > 0 %}
                <div style="text-align:left">
                  <p sytle="color:white;font-size:12px;">Credits: {{ card_images.first.credits }}</p>
                </div>
              {% endif %}
            </div>
        {% endif %}
    {% endwith %}
{% endcomment %}
{% endblock %}

{% block main %}
    {{ block.super }}



<script type="text/javascript">

function changeBackground() {

  document.getElementById("main-content").style.background = "white";

  document.getElementById("body").style.background = "white";
}

window.onload = changeBackground;

</script>


{% endblock %}

{% block page_content %}

{% comment %}
    {% editable person.bio %}
        {{ person.bio|richtext_filters|safe }}
    {% endeditable %}

    {% if not person.email and person.activities.all and person.activities.all.0.teams.all %}<p><strong>{% trans 'Email' %} :</strong> {{ person_email }}</p>{% elif person.email %}<p><strong>{% trans 'Email' %} :</strong> {{ person.email|unspam }}</p>{% endif %}

    {% with person.activities.all as activities %}
      {% if activities %}
        {# <h2 class="dotted">{% trans 'Activities' %}</h2>#}
        <ul class="unstyled-list">
          {% with activities.0 as activity %}
            <li class="mb1">
                {% with activity.teams.all as teams %}
                 {% with activity.organizations.all|is_not_host as organizations %}
                  {% with activity.employers.all|is_not_host as employers %}
                    {% if teams %}
                        <strong>{% trans 'Team' %} : </strong>
                        {% for team in teams %}
                            <a href="{% url "page" team.pages.all.0 %}">{{ team.name }}</a>
                            {% if organizations %}({% for organization in organizations %}{{ organization.name }}{% if not forloop.last %}, {% endif %}{% endfor %})
                            {% elif employers %}({% for employer in employers %}{{ employer.name }}{% if not forloop.last %}, {% endif %}{% endfor %}){% endif %}
                            <br />
                        {% endfor %}
                    {% endif %}
                   {% endwith %}
                  {% endwith %}
                {% endwith %}
            </li>
          {% endwith %}
        </ul>
      {% endif %}
    {% endwith %}
{% endcomment %}
{% endblock %}

{% block page_related_content %}

{% if related.event %}
    <div class="pb2">
        <div class="container">
            <div class="row tac">
                <div class="col-xs-16">
                    <h2 class="section-title section-title--underline section-title--uppercase section-title--main">{% trans "Linked events" %}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xxs-16">
                    <div data-slider-related>

                        {% for event in related.event %}
                            <div>

                                <div class="row">

                                    <div class="col-md-12 col-md-push-2">
                                        {% include 'agenda/includes/event_linecard.html' %}
                                    </div>

                                </div>

                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if related.other %}
    <div class="pb2">
        <div class="container">
            <div class="row tac">
                <div class="col-xs-16">
                    <h2 class="section-title section-title--underline section-title--uppercase section-title--main">{% trans "Linked contents" %}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xxs-16">
                    <div data-slider-related>

                        {% for concrete_object in related.other %}
                            {% if forloop.counter0 == 0 or forloop.counter|divisibleby:3 %}
                                <div class="container">
                                    <div class="row">
                            {% endif %}

                            <div class="col-xs-6 col-xs-push-2">
                                {% with app_label=concrete_object|app_label_short classname=concrete_object|classname|lower object=concrete_object  %}
                                    {% with object.images.all|get_type:'card' as images %}
                                        {% if images %}
                                            {% with "vertigo_starts_eu/"|add:app_label|add:"/"|add:classname|add:"/includes/"|add:classname|add:"_card.html" as template %}
                                                {% include template %}
                                            {% endwith %}
                                        {% else %}
                                            <div class="tac">
                                                <a class="button" href="{{ object.get_absolute_url }}">{{ object.title }}</a>
                                            </div>
                                        {% endif %}
                                    {% endwith %}
                                {% endwith %}
                            </div>

                            {% if forloop.last or forloop.counter|divisibleby:2 %}
                                </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}

{% block page_sidebar %}
    <div class="" data-sticky data-sticky-parent="row" data-sticky-offset="100" data-sticky-detach-at="1171">
        {% include "includes/share_buttons.html" %}
    </div>
{% endblock %}

{% block page_link %}
    {% with person.links.all as links %}
        {% if links %}
            <h3>{% trans 'Links' %}</h3>
            {% include 'core/inc/link.html' %}
        {% endif %}
    {% endwith %}
{% endblock %}
