<html>
  <head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title></title>
  </head>
  <body>
    Dear starts.eu members, <br>
    <br>
    We contact you to inform you that the <b>terms and conditions of
      the use of starts.eu will change in the next days</b>. <br>
    <br>
    This change corresponds to the end of the STARTS ECOSYSTEM project,
    which has been funded for the last 30 months to host, maintain, and
    animate the <a moz-do-not-send="true" href="https://www.starts.eu/">starts.eu</a>
    platform. From December 2021, it will be transferred to a website
    hosted by Ars Electronica. <br>
    <br>
    The new terms and conditions will follow the policy in place at Ars
    Electronica, that you can find here: <a moz-do-not-send="true"
      href="https://ars.electronica.art/about/en/datenschutz/">https://ars.electronica.art/about/en/datenschutz/</a><br>
    <br>
    <b>The good news is: starts.eu continues! </b><br>
    <br>
    Starts.eu will continue providing calls, events, news and resources
    from S+T+ARTS and Science-Tech-ARTS projects. All the partners of
    S+T+ARTS will continue to share useful content on the field. <br>
    <br>
    <b>What will change for you? </b><br>
    <br>
    The Community Space (Profiles, Map and Blog) will no longer be
    available. This means for you that you won´t have any more the
    possibility to register and create a profile in starts.eu, and you
    will not be able to change or access existing profiles. The content
    of the blog will also disappear. Eventually, the map will remain
    available for consultation as a legacy interface of the current
    STARTS community, but will no longer be updated. &nbsp;<br>
    <br>
    <b>What will happen with your data</b><b> (profiles and account
      details)?</b><br>
    <br>
    The database will be archived by IRCAM – which hosts the current
    platform. IRCAM and all the partners of the STARTS Ecosystem project
    commit to protect your data from any potential commercial or other
    usage,&nbsp; according to GDPR rules. <br>
    <br>
    At any moment, you can send an email to donneespersonnelles (at)
    ircam (dot) fr and ask the suppression of your backup account. <br>
    <br>
    Now if you want to continue following STARTS, the best is to <b>subscribe
      to the newsletter. &nbsp;</b><br>
    <br>
    <b>*Follow us on social media: </b><br>
    <br>
    <b>Instagram | Facebook | Youtube. </b><br>
    <br>
    <b>We hope to see you again soon in S+T+ARTS events or projects! </b><br>
    <br>
    On behalf of S+T+ARTS Ecosystem, <br>
    <br>
    Guillaume Pellerin<br>
    <br>
    Head Web Team<br>
    Innovation and Research Means Dpt<br>
    IRCAM<br>
    1, place Igor Stravinsky <br>
    75004 Paris, France<br>
  </body>
</html>
