{% load i18n pages_tags staticfiles mezzanine_tags organization_tags %}
{% get_language_info_list for LANGUAGES as languages %}

<script>

window.onload = function () {
  var singleItem = document.getElementById("first-menu");

  var elements = singleItem.getElementsByClassName("menu-btn-responsive");
  elements[0].style.display = "none";

  singleItem = document.getElementById("second-menu");

  elements = singleItem.getElementsByClassName("nav-header__image-logo-responsive");
  elements[0].style.display = "none";

  resizeIconObject();
}

function resizeIconObject() {

  var width = document.documentElement.clientWidth;

  var magnifyItem = document.getElementById("magnify-icon-slide");
  var userItem = document.getElementById("user-icon-slide");

  magnifyItem.style.display = "none";
  userItem.style.display = "none";

  if (width <= 780) {

    magnifyItem.style.display = "none";
    userItem.style.display = "display";

  } else {

    magnifyItem.style.display = "display";
    userItem.style.display = "none";
  }
}

</script>

{% spaceless %}
{% if page_branch_in_menu %}
    {% for page in page_branch %}
        {% if page.is_primary %}
            {% if forloop.first %}
                <ul class="nav-header" role="navigation">
                    <li class="nav-header__item menu-btn nav-header__item-responsive">
                        <span class="first"></span>
                        <span class="second"></span>
                    </li>
                    <li class="nav-header__item nav-header__item--image-big ">

                      <div class="nav-header__non-responsive-image" >
                        <a href="{% url "home" %}" title="{% trans 'Home' %}">
                          {% with host_organization.images|get_type:"logo_header" as images %}
                            {% if images %}
                             {% with images|first as img %}
                              <img src="{{ MEDIA_URL }}{{ img }}" title="{{ img.title }}" class="nav-header__image-logo"  style="width:auto;height:78px;padding-top:6%"/>
                             {% endwith %}
                            {% endif %}
                          {% endwith %}
                        </a>
                      </div>

                      <div class="nav-header__responsive-image">
                          {% with host_organization.images|get_type:"logo_header" as images %}
                            {% if images %}
                             {% with images|first as img %}
                              {#<img id="image-responsive" src="{{ MEDIA_URL }}{{ img }}" title="{{ img.title }}" class="nav-header__image-logo " />#}

                              <a href="/"><img src="{{ MEDIA_URL }}{{ img }}" title="{{ img.title }}" class="nav-header__image-logo" /></a>
                             {% endwith %}
                            {% endif %}
                          {% endwith %}
                      </div>
                    </li>

            {% endif %}
        {% endif %}
        {% if page.in_menu %}
            {% if page.content_model == "link" %}
                {% with page.link.link_images.all|first as link_image %}
                    {% if link_image %}
                        <li class="nav-header__item nav-header__item--image">
                            <a href="{{ page.get_absolute_url }}"{% if 'http' in page.link.slug %} target="_blank"{% endif %} title="{{ page.title }}"><img width="83" height="65" src="{{ MEDIA_URL }}{% thumbnail link_image.image 166 130 %}" /></a>
                        </li>
                    {% else %}
                        <li class="nav-header__item {% if page.title|lower == 'get involved' %} nav-header__hide-first-line{% endif %}">
                            <a class="nav-header__item-link{% if page.is_current_or_ascendant %} active{% endif %}" href="{{ page.get_absolute_url }}"{% if 'http' in page.link.slug %} target="_blank"{% endif %} title="{{ page.title }}">{{ page.title }} </a>
                            {% if page.has_children_in_menu %}
                                {% page_menu page "pages/menus/header_tree_primary_dark.html" %}
                            {% endif %}
                        </li>
                    {% endif %}
                {% endwith %}
            {% else %}
                <li class="nav-header__item nav-header__bottom-menu-space">
                    <a class="nav-header__item-link nav-header__extra-space-link{% if page.is_current_or_ascendant %} active{% endif %}" href="{{ page.get_absolute_url }}" title="{{ page.title }}">{{ page.title }}</a>
                    {% if page.has_children_in_menu %}
                        {% page_menu page "pages/menus/header_tree_primary_dark.html" %}
                    {% endif %}
                </li>
            {% endif %}
        {% endif %}
        {% if page.is_primary %}
            {% if forloop.last %}

                <li class="nav-header__item nav-header__item--right nav-header__item--separator">
                    {% include "includes/languages.html" %}
                </li>

                <li class="nav-header__item nav-header__item--centered nav-header__item--right nav-header__item--no-separator nav-header__search-magnify-style">

                    <div id="magnify-icon-slide" >
                      <a href="#" class="nav-header__item-link fsxl" data-open-button="search" data-search-button>
                          <i class="fa fa-search" aria-hidden="true"></i>
                      </a>
                    </div>

                    <div id="user-icon-slide" style="display:none">
                      <a href="#" class="nav-header__item-link menu-btn-responsive">
                          <i class="fa fa-user" aria-hidden="true"></i>
                      </a>
                    </div>

                </li>

            </ul>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
{% endspaceless %}
