{% load i18n pages_tags staticfiles mezzanine_tags organization_tags %}
{% get_language_info_list for LANGUAGES as languages %}

<script>

window.onload = function () {
  var singleItem = document.getElementById("first-menu");

  var elements = singleItem.getElementsByClassName("item-image-menu");
  elements[0].style.display = "none";

  singleItem = document.getElementById("second-menu");

  elements = singleItem.getElementsByClassName("nav-header__image-logo-responsive");
  elements[0].style.display = "none";

  resizeIconObject();
}

window.addEventListener('resize', function(event){
  resizeIconObject();
});

function resizeIconObject() {

  var width = document.documentElement.clientWidth;

  var magnifyItem = document.getElementsByClassName("search-link-item")[1];
  var userItem = document.getElementsByClassName("user-link-item")[1];

  magnifyItem.classList.add("nav-header__show-now");
  userItem.classList.add("nav-header__hide-now");

  if (width <= 780) {

    magnifyItem.classList.remove("nav-header__show-now");
    magnifyItem.classList.add("nav-header__hide-now");

    userItem.classList.add("nav-header__show-now");
    userItem.classList.remove("nav-header__hide-now");

  } else {

    userItem.classList.remove("nav-header__show-now");
    userItem.classList.add("nav-header__hide-now");

    magnifyItem.classList.add("nav-header__show-now");
    magnifyItem.classList.remove("nav-header__hide-now");
  }
}

</script>

{% spaceless %}
{% if page_branch_in_menu %}
    {% for page in page_branch %}
        {% if page.is_primary %}
            {% if forloop.first %}
                <ul class="nav-header" role="navigation">
                    <li class="nav-header__item menu-btn nav-header__item-responsive">
                        <span class="first"></span>
                        <span class="second"></span>
                    </li>
                    <li class="nav-header__item nav-header__item--image-big ">
                      <div class="nav-header__non-responsive-image" >
                        <a href="{% url "home" %}" title="{% trans 'Home' %}">
                            <img src="{{ STATIC_URL }}vertigo_starts_eu/src/assets/img/starts_res_logo.png" title="STARTS Residencies logo" class="nav-header__image-logo" />
                        </a>
                      </div>

                      <div class="nav-header__responsive-image">
                        <a href="/">
                            <img src="{{ STATIC_URL }}vertigo_starts_eu/src/assets/img/starts_res_logo.png" title="STARTS Residencies logo" class="nav-header__image-logo item-image-menu" />
                        </a>
                      </div>
                    </li>

            {% endif %}
        {% endif %}
        {% if page.in_menu %}
            {% if page.content_model == "link" %}
                {% with page.link.link_images.all|first as link_image %}
                    {% if link_image %}
                        <li class="nav-header__item nav-header__item--image">
                            <a href="{{ page.get_absolute_url }}"{% if 'http' in page.link.slug %} target="_blank"{% endif %} title="{{ page.title }}"><img width="83" height="65" src="{{ MEDIA_URL }}{% thumbnail link_image.image 166 130 %}" /></a>
                        </li>
                    {% else %}
                        <li class="nav-header__item {% if page.title|lower == 'get involved' %} nav-header__hide-first-line{% endif %}">
                            <a class="nav-header__item-link{% if page.is_current_or_ascendant %} active{% endif %}" href="{{ page.get_absolute_url }}"{% if 'http' in page.link.slug %} target="_blank"{% endif %} title="{{ page.title }}">{{ page.title }} </a>
                            {% if page.has_children_in_menu %}
                                {% page_menu page "pages/menus/header_tree_primary_dark.html" %}
                            {% endif %}
                        </li>
                    {% endif %}
                {% endwith %}
            {% else %}
                <li class="nav-header__item">
                    <a class="nav-header__item-link  {% if page.is_current_or_ascendant %} active{% endif %}" href="{{ page.get_absolute_url }}" title="{{ page.title }}">{{ page.title }}</a>
                    {% if page.has_children_in_menu %}
                        {% page_menu page "pages/menus/header_tree_primary_dark.html" %}
                    {% endif %}
                </li>
            {% endif %}
        {% endif %}
        {% if page.is_primary %}
            {% if forloop.last %}

                {% comment %}
                  Multiple languages is disabled here. This leads to extra space outside of container
                {% endcomment %}
                {% comment %}
                <li class="nav-header__item nav-header__item--right nav-header__item--separator">
                    {% include "includes/languages.html" %}
                </li>
                {% endcomment %}

                <li class="nav-header__item nav-header__item--centered nav-header__item--right nav-header__item--no-separator nav-header__search-magnify-style">

                      <a href="#" class="nav-header__item-link fsxl nav-header__hide-now search-link-item " data-open-button="search" data-search-button >
                          <i class="fa fa-search" aria-hidden="true"></i>
                      </a>

                      <a href="#" class="nav-header__item-link nav-header__show-now menu-btn-responsive user-link-item ">
                          <i class="fa fa-user nav-header__user-icon-responsive" aria-hidden="true"></i>
                      </a>

                </li>

            </ul>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
{% endspaceless %}
