{% load i18n pages_tags staticfiles %}
{% get_language_info_list for LANGUAGES as languages %}

{% spaceless %}
<script>
    function highlight_item_second_option(link,event) {

        var idLinkItem = link.id.replace("second-option", "second-option-link");

        document.getElementById(idLinkItem).style.color = "#000f24";
        document.getElementById(idLinkItem).style.background = "#ffffff";

        document.getElementById(link.id).style.color = "#000f24";
        document.getElementById(link.id).style.background = "#ffffff";
    }

    function restore_style_second_option(link, event) {

        var idLinkItem = link.id.replace("second-option", "second-option-link");

        document.getElementById(idLinkItem).style.color = "#ffffff";
        document.getElementById(idLinkItem).style.background = "#000f24";

        document.getElementById(link.id).style.color = "#ffffff";
        document.getElementById(link.id).style.background = "#000f24";
    }
</script>
{% if page_branch_in_menu %}
    {% for page in page_branch %}
        {% if page.in_menu and page.in_menus|first %}
            <li id="second-option{{forloop.counter0}}" class="nav-header__item-sub{% if page.is_current_or_ascendant %} active{% endif %}" onmouseout="restore_style_second_option(this,event)" onmouseover="highlight_item_second_option(this,event)">
                <a id="second-option-link{{forloop.counter0}}" class="" href="{{ page.get_absolute_url }}" title="{{ page.title }}">{{ page.title }}</a>
            </li>
        {% endif %}
    {% endfor %}
{% endif %}
{% endspaceless %}
