{% load i18n pages_tags mezzanine_tags media_tags organization_tags staticfiles %}
{% get_language_info_list for LANGUAGES as languages %}

{% spaceless %}

{% if page_branch_in_menu %}
<script>

function highlight_item_option(event) {

    var id_item = '#' + event.target.id;
    var idLinkItem = id_item.replace("item-option-element-link-", "item-option-element-");

    if (event.type == 'mouseover') {

      document.querySelectorAll(idLinkItem)[1].style.color = '#000f24';
      document.querySelectorAll(idLinkItem)[1].style.background = '#ffffff';
      document.querySelectorAll(id_item)[1].style.color = '#000f24';
      document.querySelectorAll(id_item)[1].style.background = '#ffffff';

    } else if (event.type =='mouseout') {

      document.querySelectorAll(idLinkItem)[1].style.color = '#ffffff';
      document.querySelectorAll(idLinkItem)[1].style.background = '#000f24';
      document.querySelectorAll(id_item)[1].style.color = '#ffffff';
      document.querySelectorAll(id_item)[1].style.background = '#000f24';
    }
}

</script>
   <div class="nav-header__submenu" style="background:#000f24;text-align:center;left:0px;padding:0px">
     <!--
        <div class="row">
            <div class="col-md-12">
                <p>
                    {{ page.departmentpage.description|richtext_filters|safe|truncatechars:415 }}
                </p>
            </div>
        </div>
      -->
        <div  style="margin-left:0px;margin-right:0px">
            {% for page in page_branch %}
                {% if page.in_menu %}
                    <ul style="padding-left:0px;list-style:none;" ><!--class="unstyled-list col-sm-3 col-md-3">-->
                      <li id="item-option-element-{{forloop.counter0}}"  class="nav-header__item-sub nav-header__item-sub--first{% if page.is_current_or_ascendant %} active{% endif %}" style="margin-bottom:0px;" >
                          <div class="nav-header__item-separator-user-menu"></div>
                          <a id="item-option-element-link-{{forloop.counter0}}" onmouseout="highlight_item_option(event)" onmouseover="highlight_item_option(event)" href="{{ page.get_absolute_url }}" style="display:block;color:white;padding-bottom:10px;margin-top:5px" title="{{ page.title }}">{{ page.title }}</a>
                      </li>
                    </ul>
                {% endif %}
                {% comment %}
                {% if page.has_children_in_menu %}
                    {% page_menu page "pages/menus/header_tree_secondary.html" %}
                {% endif %}
                {% endcomment %}


            {% endfor %}
        </div>
      </div>
{% endif %}
{% endspaceless %}
