{% load mezzanine_tags staticfiles keyword_tags i18n organization_tags pages_tags %}

        <div class="row">
            <div class="mb2 col-md-12 col-md-push-2 page__content" data-summary-content>
                <div class="page__content">
                    <div class="container">
                        <div class="row">
                            {% for object in projects %}
                                <div class="col-xs-8">
                                    {% with app_label=object|app_label_short classname=object|classname|lower  %}
                                        {% with app_label|add:"/"|add:classname|add:"/includes/"|add:classname|add:"_ict_card.html" as template %}
                                            {% include template %}
                                        {% endwith %}
                                    {% endwith %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>