{% extends "accounts/base.html" %}
{% load i18n mezzanine_tags static %}

{% block meta_title %}
    {% if page %}
        {{ page.title }}
    {% else %}
				Following
    {% endif %}
{% endblock %}

{% block meta_description %}
    {% metablock %}
        {{ page.description }}
    {% endmetablock %}
{% endblock %}

{% block account_introduction %}
Here are the amazing members you are following. Increase your visibility: follow more people! Find new contacts using the <a href="{% url 'network' %}">STARTS community map</a> or the <a data-open-button="search">general search function of the platform</a>. It is very simple, just click on the "follow" button or icon of the users´ profiles. Other members can see who you are following.
{% endblock %}

{% block page_content %}

<div class="container" data-profile-tab="select-following" id="settings-profile-container">
	<div id="following-list"></div>
</div>

{% csrf_token %}

{% endblock %}

{% block extra_js %}
<script>
window.globalVars = {
	username: "{{ object.user.username }}"
}
</script>

<script type="text/javascript" src="{% static "components/vendors.js" %}"></script>
<script type="text/javascript" src="{% static "components/following-list.js" %}"></script>
{% endblock %}
