{% extends "accounts/base.html" %}
{% load i18n mezzanine_tags static %}

{% block meta_title %}
    {% if page %}
        {{ page.title }}
    {% else %}
				Followers
    {% endif %}
{% endblock %}

{% block meta_description %}
    {% metablock %}
        {{ page.description }}
    {% endmetablock %}
{% endblock %}

{% block page_content %}

<div class="container" data-profile-tab="select-followers" id="settings-profile-container">
	<div id="followers-list"></div>
</div>

{% csrf_token %}

{% endblock %}

{% block extra_js %}

<script>
window.globalVars = {
	username: "{{ object.user.username }}"
}
</script>

<script type="text/javascript" src="{% static "components/vendors.js" %}"></script>
<script type="text/javascript" src="{% static "components/followers-list.js" %}"></script>

{% endblock %}
