{% extends "vertigo_starts_eu/accounts/account_form_profile_operations.html" %}
{% load i18n mezzanine_tags %}

{% block page_title %}
	<!--<h1 style="font-family:'Oswald';margin-bottom:100px;padding-top:200px;color:#000F24">{% trans "Update profile" %}</h1>-->
{% endblock %}


{% block page_content %}
<script>

function selectCurrentTab() {

  document.getElementById("select-settings").className = "page__option-selected";
}

window.onload = selectCurrentTab;

</script>

<div class="container page__margin-top">
  <div class="page__item_info">




  {{ block.super }}

      <div class="page__item_content">
          <div id="info-profile" class="page__info-block">

            {% errors_for form %}

            <form class="account-form" method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                <fieldset>
                <legend>{% trans 'Private Informations' %}</legend>
                {% fields_for form %}
                <div class="form-actions">
                    {% block account_form_actions %}
                    <input class="btn btn-primary btn-lg pull-right" type="submit" value="{{ title }}">
                    {% endblock %}
                </div>
                </fieldset>
            </form>
            <!--
            {% if request.user.address %}
              <div class="page__center-bio" style="color:white">
                {{ request.user.address }}<br/><br/>
                {{ request.user.email }}<br/><br/>
                ({{ request.user.telephone }})
              </div>

              {% if request.user.city and request.user.country %}
              <div class="page__center-bio" style="color:white">
                {{ request.user.city }}, {{ request.user.country }}
              </div>
              {% endif %}

              {% if request.user.short_url %}
              <div class="page__center-bio">
                <a href="{{ request.short_url }}" style="color:white">{{ request.user.short_url }}</a>
              </div>
              {% endif %}
            {% else %}
              {% if request.user.site %}
                <div class="page__center-bio">
                  <a href="{{ request.user.site }}" style="color:white">{{ request.user.site }}</a>
                </div>
              {% endif %}
            {% endif %}-->
         </div>
      </div>
  </div>
</div>
{% endblock %}
