{% extends "accounts/base.html" %}
{% load i18n mezzanine_tags %}

{% block page_content %}
<div class="container col-md-5" data-profile-tab="select-settings" id="settings-profile-container">
    <div class="page__item_info">
        <div class="page__item_content">
            <div id="info-profile" class="page__info-block">
            {% include 'core/inc/messages.html' %}
             {% errors_for form %}
                <form class="account-form" method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <fieldset>
                                <h3 class="first">{% trans 'Private Informations' %}</h3>
                                {% fields_for form %}
                            </fieldset>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-md-12">
                            <input type="submit" value="{{ title }}">
                        </div>
                    </div>
                 </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
