{% extends "vertigo_starts_eu/accounts/account_form_profile_operations.html" %}
{% load i18n mezzanine_tags %}

{% block page_title %}
	<!--<h1 style="font-family:'Oswald';margin-bottom:100px;padding-top:200px;color:#000F24">{% trans "Update profile" %}</h1>-->
{% endblock %}

{% block page_content %}

<div class="container">

<div class="page__call_info">

<script>

function selectCurrentTab() {

  document.getElementById("select-follower").className = "page__option-selected";
}

window.onload = selectCurrentTab;

</script>

    <div class="page__call_content">

        <div id="info-follower" class="page__info-block-hidden">
            Submit FOLLOWER
        </div>

    </div>
</div>

</div>
{% endblock %}
