{% extends "vertigo_starts_eu/accounts/account_form_profile_operations.html" %}
{% load i18n mezzanine_tags %}

{% block page_title %}
	<!--<h1 style="font-family:'Oswald';margin-bottom:100px;padding-top:200px;color:#000F24">{% trans "Update profile" %}</h1>-->
{% endblock %}

{% block page_content %}

<div class="container">

<div class="page__item_info">
<script>

function selectCurrentTab() {

  document.getElementById("select-application-form").className = "page__option-selected";
}

window.onload = selectCurrentTab;

</script>

    <div class="page__item_content">

        <div class="page__row-app-space-form page__row-app-space-bottom-form"></div>
        {% if projects %}
          {% for project in projects %}
              <div class="page__row-app-form page__row-app-space-bottom-form">
                 <div class="page__column-app-form page__column-space">
                   <div class="page__inner-row-content page__inner-item-bold">{{ project.title }}</div>
                   <div class="page__inner-row-content page__inner-item">{{ project.call }}</div>
                 </div>
                 <div class="page__column-app-form page__column-space">
                   <div class="page__inner-row-content page__inner-item{% if project.validation_status != 'accepted' %}-red{% endif %}">
                     {% if project.validation_status == 'accepted' %}
                        Submitted
                     {% else %}
                        Draft
                     {% endif %}
                   </div>
                   <div class="page__inner-row-content page__inner-item{% if project.validation_status != 'accepted' %}-red{% endif %}">Deadline: {{ project.date_to }}</div>
                 </div>
                 <div class="page__column-app-form">
                   {% if project.validation_status == 'accepted' %}
                      <a href="{% url "organization-call-project-detail" project.call.slug project.slug %}" class="page__button-row-profile-view">View form</a>
                   {% else %}
                      <a href="{% url "organization-call-project-update" project.call.slug project.slug %}" class="page__button-row-profile-edit">Edit form</a>
                   {% endif %}
                 </div>
              </div>
          {% endfor %}
        {% endif %}

    </div>
</div>

</div>

{% endblock %}
