{% extends "vertigo_starts_eu/base.html" %}
{% load i18n mezzanine_tags keyword_tags organization_tags pages_tags staticfiles %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block body_class %}account{% endblock %}

{% block main %}

    {% block hero %}
    {% endblock %}
    
    {% with object|default:user.person as object %}
    <div id="main-content" class="page page--{% spaceless %}{% block page_class %}{% endblock %}{% endspaceless %}">
        {# --- Header --- #}
        <div class="background-placeholder {% if object.background_image.name %} background-user {% endif %}"
            {% if object.background_image.name%} style="background-image: url('{{ MEDIA_URL }}{{ object.background_image.name }}');" {% endif %}>
            <div class="row justify-content-md-center">
                <div class="col-md-3 text-center profile-pic">
                    {% if object.profile_image %}
                        <img src="{{ MEDIA_URL }}{% thumbnail object.profile_image.name 320 320 %}" class="img-fluid mx-auto" title="Profile image of {{ object.first_name }} {{ object.last_name }}" />
                    {% else %}
                        <img src="{% static 'vertigo_starts_eu/img/profile/placeholder_profile_320x320.png' %}" class="img-fluid mx-auto" title="Profile image of {{ object.first_name }} {{ object.last_name }}" />
                    {% endif %}
                    {% block page_title %}                                        
                        <h1>{{ object.first_name }} {{ object.last_name }}</h1>
                    {% endblock %}
                    {% if object.occupation %}
                    <h2>{{ object.occupation }}</h2>
                    {% elif user.is_authenticated and user.person == object %}
                    <p class="notice">{% trans "Your occupation seems to be empty. You can fill it " %}<a href="{% url "organization-network-profile-edit" %}" title="Profile Edit">{% trans "here" %}</a></p>
                    {% endif %}
                </div>
            </div>
        </div>

        {# --- Menu --- #}
        {% block menu %}
            {% include 'accounts/includes/menu.html' %}
        {% endblock %}

        <div class="row row justify-content-md-center">
            <div class="mb2 col-sm-12 page__content" data-summary-content>
                {# --- Page Content --- #}
                {% block page_content %}
                    {{ page.content }}
                {% endblock %}
            </div>
        </div>
    </div>
    {% endwith %}
{% endblock %}

{% block footer_scripts %}
    {{ block.super }}
    <script src="{% static 'vertigo_starts_eu/js/profile/tab-switcher.js' %}"></script>
{% endblock %}
