{% extends "vertigo_starts_eu/base.html" %}
{% load i18n mezzanine_tags keyword_tags organization_tags pages_tags staticfiles %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block body_class %}account{% endblock %}

{% block main %}

    {% block hero %}
    {% endblock %}

    <div id="main-content" class="page page--{% spaceless %}{% block page_class %}{% endblock %}{% endspaceless %}"
			style="background: rgb(236,235,235);">
        {# --- Header --- #}
        <div class="row">
            <div class="header-background">
                {% if request.user.is_authenticated %}
                <div class="col-sm-12 col-md-12 col-md-push-2 tac">
                {% else %}
                <div>
                {% endif %}
                    
                    {% block page_title %}
                    {% endblock %}
                </div>
            </div>
        </div>

        {# --- Menu --- #}
        {% include 'accounts/includes/menu.html' %}

        <div class="row">
            <div class="mb2 col-sm-12 page__content" data-summary-content>
                {# --- Page Content --- #}
                {% block page_content %}
                    {{ page.content }}
                {% endblock %}
            </div>
        </div>
    </div>

{% endblock %}


{% block footer_scripts %}
    {{ block.super }}
    <script src="{% static 'vertigo_starts_eu/js/profile/tab-switcher.js' %}"></script>
{% endblock %}
