{% load i18n pages_tags mezzanine_tags media_tags organization_tags pages_tags %}

<div id="overlay-news-temp" style="display:none;" class="home-page__overlay-style-home" onclick="closeOverlay()">
  <div>
     <div class="home-page__overlay_close-home">&times;</div>

      <div class="home-page__overlay-contaner-info-home">
        <div class="home-page__overlay-content-title-home">
          {{ article.title }}
        </div>
        <div class="home-page__overlay-description-home">
          by {% if article.department.name %}{{ article.department.name }}{% else %}STARTS{% endif %}, {{ article.publish_date|date:"DATE_FORMAT" }},
        </div>
        {% if article.images.all|length > 0 %}
        <img class="home-page__public-article-image home-page__extra-margin-image" src="{{ MEDIA_URL }}{% thumbnail article.images.all|first 300 300 padding=true %}" />
        {% endif %}
        <div class="home-page__overlay-description-home">
          {{ article.description|richtext_filters|safe|truncatechars_html:1000 }}
        </div>
      </div>
   </div>
</div>

<div class="home-page__public-main-container-text-banner">
  <div class="home-page__public-main-text-banner">
    ART X TECHNOLOGY X INNOVATION
  </div>

  <div class="home-page__public-subtext-main-banner home-page__public-subtext-bold">
    The STARTS Residencies programme aims to support and fund artistic residencies that bring original artistic contributions to technology-based projects.
  </div>
  {% comment %} <div class="home-page__public-subtext-main-banner">
    Its purpose is to organise artistic collaborations with R&D projects that target innovation.
  </div> {% endcomment %}
</div>

<div class="home-page__public-line-divider">

</div>

<div class="home-page__main-item home-page__public-common-height-auto">

  <div class="home-page__first-big-block home-page__public-container-common home-page__height-auto">
    <div class="home-page__inner-big-block">
      <!--<a href="{{ article.get_absolute_url }}">-->
      <div style="cursor:pointer" onclick="showFullNotice();">
        <div class="home-page__full-frame home-page__public-white-background">
          {% if article.images.all|length > 0 %}
          <img class="home-page__public-article-image" src="{{ MEDIA_URL }}{% thumbnail article.images.all|first 300 300 padding=true %}" >
          {% endif %}
          <div class="home-page__public-article-title-main">
            {{ article.title }}
          </div>
          <div class="home-page__public-article-body-main home-page__mini-padding-bottom">
            by {% if article.department.name %}{{ article.department.name }}{% else %}STARTS{% endif %}, {{ article.publish_date|date:"DATE_FORMAT" }},
          </div>
          <div class="home-page__public-article-body-main home-page__mini-padding-bottom">
            {{ article.description|richtext_filters|safe|truncatechars_html:500 }}
          </div>

        </div>
      <!--</a>-->
      </div>
    </div>
    <div class="home-page__inner-blog-block-right home-page__top-padding-none">
      <a href="{{ event.get_absolute_url }}">
        <div class="home-page__full-frame home-page__public-white-background home-page__height-auto home-page__mini-padding-bottom">

          {% if event.images %}
            {% with event.images.all|get_type:'card' as images %}
            <img class="home-page__public-article-image" src="{{ MEDIA_URL }}{% thumbnail images.0.file 300 300 padding=true %}" >
            {% endwith %}
          {% endif %}

          {% if event.title %}
          <div class="home-page__public-article-title-main">
            {{ event.title }}
          </div>
          {% endif %}

          <div class="home-page__public-article-title-main event-line-box__date-list event-line-box__small-margin home-page__margin-removal" style="{% if not event.images %}color:black{% endif %}">
              {% include 'agenda/includes/event_date_line.html' with object=event %}
          </div>

          <div class="home-page__public-article-body-main">
            {% if event.departments.first %}
              {% with event.departments.first as department %}
                  {{ department.department.name }}
              {% endwith %}
              <br/>
            {% endif %}

            {% if event.category %}
                {{ object.category|truncatechars:15 }}
                  <br/>
            {% endif %}

            {{ event.description|richtext_filters|safe|truncatechars_html:100 }}
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="home-page__second-big-block home-page__public-container-common">
    <div class="home-page__inner-frame-second">
      <div class="home-page__inner-block-second home-page__public-container-common">
        <a href="{{ person.get_absolute_url }}">
          <div class="home-page__full-frame home-page__public-container-common home-page__public-container-common-relative {% if person.images %}home-page__image-gradient{% endif %}">
              {% if person.images %}
              <img class="home-page__public-image_full-width" src="{{ MEDIA_URL }}{% thumbnail person.images.all|first 800 800 padding=true %}">
              {% else %}
              <div class="home-page__public-image_full-width" style="border: 1px solid white;background:white"></div>
              {% endif%}

              <div class="residency-detail__title home-page__public-overtext-artist-name home-page__public-index-text-article" style="{% if not person.images %}color:black{% endif %}">{{ person.first_name }} {{ person.last_name }}</div>
              <div class="residency-detail__title home-page__public-overtext-artist-second-row home-page__public-index-text-article" style="{% if not person.images %}color:black{% endif %}">{{ person.bio|safe|truncatechars_html:100 }}</div>
          </div>
        </a>
      </div>
      <div class="home-page__inner-block-item home-page__public-container-common home-page__height-auto home-page__mini-padding-bottom">
        <a href="{{ organization.get_absolute_url }}">
          <div class="home-page__private-full-frame home-page__public-white-background">

            <img class="home-page__public-article-image home-page__private-img-article-width" src="{{ MEDIA_URL }}{% thumbnail organization.images.all|first 300 300 padding=true %}" >

            <div class="home-page__public-article-title-main">
              {{ organization.title }}
            </div>

            <div class="home-page__public-article-body-main home-page__mini-padding-bottom">
              {{ organization.description|richtext_filters|safe|truncatechars_html:200 }}
            </div>

          </div>
        </a>
      </div>
    </div>
    <div class="home-page__inner-block-item-right home-page__public-container-common home-page__public-container-height-common">
      <a href="{{ project.get_absolute_url }}">
        <div class="home-page__full-frame home-page__public-container-common-relative home-page__image-gradient-public">

            {% comment %}
            {% with project.images.all as images %}
                {% if images %}
                <div class="residency-detail__header-image home-page__public-image_full-width" style="background-image: linear-gradient(rgba(0, 64, 64, 0.2), rgba(0, 64, 64, 0.2)), url('{{ MEDIA_URL }}{% thumbnail images|first 0 400 padding=true %}');">
                </div>
                {% endif %}
            {% endwith %}
            {% endcomment %}

            <!--<img class="home-page__public-image_full-width" src="{{ MEDIA_URL }}{% thumbnail project.artist.person.images.all|first 800 800 padding=true %}" -->

            {% if project.public_data.all.0.image %}
              <img class="home-page__public-image_full-width" src="{{ MEDIA_URL }}{% thumbnail project.public_data.all.0.image 800 800 padding=true %}" >
            {% else %}
              <div class="home-page__public-image_full-width" style="border: 1px solid white;background:white"></div>
            {% endif %}

            {% if project.title %}
            <div class="residency-detail__title home-page__public-overtext-artist-name home-page__public-index-text-article" style="{% if not project.public_data.all.0.image %}color:black{% endif %}">{{ project.title }}</div>
            {% endif %}

            {% if project.contacts.all.0.first_name or project.project.contacts.all.0.last_name %}
              <div class="residency-detail__title home-page__public-overtext-artist-name-bottom home-page__public-margin-bottom-first-row home-page__public-index-text-article" style="{% if not project.public_data.all.0.image %}color:black{% endif %}">{{ project.contacts.all.0.first_name }} {{ project.contacts.all.0.last_name }}</div>
            {% endif %}

            <div class="residency-detail__title home-page__public-overtext-artist-name-bottom home-page__public-margin-bottom-second-row home-page__public-index-text-article" style="{% if not project.public_data.all.0.image %}color:black{% endif %}">{{ project.public_data.all.0.brief_description|safe|truncatechars_html:50 }}</div>

            <div class="residency-detail__title home-page__public-overtext-artist-name-bottom home-page__public-margin-bottom-second-row home-page__public-index-text-article home-page__private-text-image-index home-page__private-margin-second-line-image home-page__padding-tags-public">
            {% if project.keywords %}
              {% for kw in project.keywords.all|slice:":5" %}
                  <span class="project-ict-detail__tag-style-simple-private">{{ kw|capfirst }}</span>
              {% endfor %}
            {% endif %}
            </div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="home-page__public-line-divider-bottom">
</div>
