{% load i18n pages_tags mezzanine_tags media_tags organization_tags pages_tags %}

<div class="home-page__public-main-container-text-banner">
  <div class="home-page__public-main-text-banner">
    ART X TECHNOLOGY X INNOVATION
  </div>

  <div class="home-page__public-subtext-main-banner home-page__public-subtext-bold">
    VERTIGO is a project supported by the H2020 STARTS program of the European Commission.
  </div>
  <div class="home-page__public-subtext-main-banner">
    Its purpose is to organise artistic collaborations with R&D projects that target innovation.
  </div>
</div>

<div class="home-page__public-line-divider">

</div>

<div class="home-page__main-item home-page__public-common-height-auto">

  <div class="home-page__first-big-block home-page__public-container-common">
    <div class="home-page__inner-big-block">
      <div class="home-page__full-frame home-page__public-white-backgtound">

        <div class="home-page__public-article-title-main">
          {{ article.title }}
        </div>

        <div class="home-page__public-article-body-main">
          {{ article.description|richtext_filters|safe|truncatechars_html:500 }}
        </div>

        <img class="home-page__public-article-image" src="{{ MEDIA_URL }}{% thumbnail article.images.all|first 300 300 padding=true %}" >

      </div>
    </div>
    <div class="home-page__inner-blog-block-right">
      <div class="home-page__full-frame home-page__public-white-backgtound">

        <div class="home-page__public-article-title-main">
          {{ event.title }}
        </div>

        <div class="home-page__public-article-body-main">
          {% if event.departments.first %}
            {% with event.departments.first as department %}
                {{ department.department.name }}
            {% endwith %}
            <br/>
          {% endif %}

          {% if event.category %}
              {{ object.category|truncatechars:15 }}
                <br/>
          {% endif %}

          {{ event.description|richtext_filters|safe|truncatechars_html:500 }}
        </div>

      </div>
    </div>
  </div>
  <div class="home-page__second-big-block home-page__public-container-common">
    <div class="home-page__inner-frame-second">
      <div class="home-page__inner-block-second home-page__public-container-common">
        <div class="home-page__full-frame home-page__public-container-common home-page__public-container-common-relative">

          <img class="home-page__public-image_full-width" src="{{ MEDIA_URL }}{% thumbnail person.images.all|first 800 800 padding=true %}" >
          <div class="residency-detail__title home-page__public-overtext-artist-name">{{ person.first_name }} {{ person.last_name }}</div>
          <div class="residency-detail__title home-page__public-overtext-artist-second-row">{{ person.bio|safe|truncatechars_html:100 }}</div>

        </div>
      </div>
      <div class="home-page__inner-block-item home-page__public-container-common">
        <div class="home-page__full-frame home-page__public-white-backgtound" style="color:black">

          HERE BLOG POST

        </div>
      </div>
    </div>
    <div class="home-page__inner-block-item-right home-page__public-container-common home-page__public-container-height-common">
      <div class="home-page__full-frame home-page__public-container-common-relative">

        {% with project.images.all as images %}
            {% if images %}
            <div class="residency-detail__header-image home-page__public-image_full-width" style="background-image: linear-gradient(rgba(0, 64, 64, 0.2), rgba(0, 64, 64, 0.2)), url('{{ MEDIA_URL }}{% thumbnail images|first 0 400 padding=true %}');">
            {% else %}
            <div class="residency-detail__header-image">
            {% endif %}
            </div>
        {% endwith %}

        <div class="residency-detail__title home-page__public-overtext-artist-name-bottom">{{ project.title }}</div>
        <div class="residency-detail__title home-page__public-overtext-project-bottom">{{ project.artist.first_name }} {{ project.artist.last_name }}</div>
        <div class="residency-detail__title home-page__public-overtext-project-bottom">{{ project.description|safe|truncatechars_html:50 }}</div>

      </div>
    </div>
  </div>
</div>

<div class="home-page__public-line-divider-bottom">
</div>
