{% load i18n pages_tags mezzanine_tags media_tags organization_tags %}

<div class="home-page__main-item">

  <div class="home-page__first-big-block">
    <div class="home-page__inner-big-block">
      <div class="home-page__full-frame" style="background:orange;">

      </div>
    </div>
    <div class="home-page__inner-blog-block-right">
      <div class="home-page__full-frame" style="background:red;">

      </div>
    </div>
  </div>
  <div class="home-page__second-big-block">
    <div class="home-page__inner-frame-second">
      <div class="home-page__inner-block-second">
        <div class="home-page__full-frame" style="background:yellow;">

        </div>
      </div>
      <div class="home-page__inner-block-item">
        <div class="home-page__full-frame" style="background:orange;">

        </div>
      </div>
    </div>
    <div class="home-page__inner-block-item-right">
      <div class="home-page__full-frame" style="background:green;">

      </div>
    </div>
  </div>
</div>
