{% extends "pages/page.html" %}
{% load mezzanine_tags staticfiles %}

{% comment %}Style for this class defined in components{% endcomment %}
{% block page_class %}
    grey-bg
{% endblock %}

{% block meta_title %}
    {% if page %}
        {{ page.title }}
    {% else %}
				Blog
    {% endif %}
{% endblock %}

{% block meta_description %}
    {% metablock %}
        {{ page.description }}
    {% endmetablock %}
{% endblock %}

{% block extra_js %}
	<script type="text/javascript" src="{% static "components/vendors.js" %}"></script>
	<script type="text/javascript" src="{% static "components/blog-feed.js" %}"></script>
{% endblock %}

{% block page_content %}
{% csrf_token %}
<div class="container" data-profile-tab="public-blog-item" id="settings-blog-container">
	<div id="blog-feed"></div>
</div>
{% endblock %}
