{% extends "accounts/base.html" %}
{% load mezzanine_tags staticfiles organization_tags %}

{% block meta_title %}
    {% if page %}
        {{ page.title }}
    {% else %}
				Blog
    {% endif %}
{% endblock %}

{% block meta_description %}
    {% metablock %}
        {{ page.description }}
    {% endmetablock %}
{% endblock %}

{% comment %}
`if user.person == object` means if the user is on his own profile page
`else` when the user is on someone else profile page
{% endcomment %}

{% block extra_js %}

	<script type="text/javascript" src="{% static "components/vendors.js" %}"></script>

	{% if user.person == object %}
		<script type="text/javascript" src="{% static "components/blog-profile.js" %}"></script>
	{% else %}
		<script>
			window.globalVars = {
				username: "{{ object.user.username }}"
			}
		</script>
		<script type="text/javascript" src="{% static "components/blog-list-user.js" %}"></script>
	{% endif %}

{% endblock %}

{% block page_content %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p class="introduction">
				Post here your news! Tell the community what you are up to, the events you go, the projects you participate in, the exhibitions you organise. You can also share some useful STARTS related resources. The news posted in the blog will appear to the people following you!
			</p>
		</div>
	</div>
</div>

	{% csrf_token %}
	<div class="container" data-profile-tab="public-blog-item" id="settings-profile-container">
		{% if user.person == object %}
			<div id="blog-profile"></div>
		{% else %}
			<div id="blog-list-user"></div>
		{% endif %}
	</div>

{% endblock %}
