{% extends "vertigo_starts_eu/pages/page.html" %}
{% load mezzanine_tags keyword_tags i18n organization_tags pages_tags staticfiles %}

{% block meta_title %}{{ object.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for object as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block page_class %}
    object
{% endblock %}

{% block body_class %}
    pattern pattern-bg {{ department.pages.all.0.weaving_css_class }}
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li class="breadcrumb__item active">{{ object.title }}</li>
{% endblock %}

{% block page_tags %}

    {% comment %}
        {% if department %}
            <div class="tag dashed dashed--yellow">
              {{ department.pages.all.0.title }}
            </div>
        {% endif %}
        <div class="tag tag--category">
            {% trans 'Project' %}
        </div>
    {% endcomment %}

{% endblock %}

{% block page_title %}

    {% editable object.title %}
        <h1 class="section-title section-title--uppercase section-title--main project-ict-detail__big-text">{{ object.title }}</h1>
    {% endeditable %}

    {% comment %}
    {% with page.get_ascendants|last as top_level_parent %}
        {% if linked_organization_content and research_slug == top_level_parent.slug %}
            {% include 'pages/page/includes/linked_organization_content.html' %}
        {% endif %}
    {% endwith %}

    {% if object.description %}
        {% editable object.description %}
            <div class="chapo">
                {{ object.description }}
            </div>
        {% endeditable %}
    {% endif %}
    {% endcomment %}

{% endblock %}

{% block page_content %}

<div class="container">

    <div class="call__info">

        {% with "vertigo_starts_eu/img/calls/call_workflow_"|add:object.call_default_profile|add:".svg" as image_path %}
            <img id="call__workflow" class="call__workflow" src="{% static image_path %}" alt="Call workflow">
        {% endwith%}

        <div class="call__selector call__responsive-item">
            <span id="call__select-artist" class="call__all call__artist-{% if object.call_default_profile == 'artist' %}selected{% else %}unselected{% endif %} call__selector-responsive-item" onclick='Call.callSelect("artist", "{% static "vertigo_starts_eu/img/calls/call_workflow_artist.svg" %}")'>As an Artist</span>
            <span id="call__select-project" class="call__all call__project-{% if object.call_default_profile == 'project' %}selected{% else %}unselected{% endif %} call__selector-responsive-item" onclick='Call.callSelect("project", "{% static "vertigo_starts_eu/img/calls/call_workflow_project.svg" %}")'>As a Tech Project</span>
            <span id="call__select-producer" class="call__all call__producer-{% if object.call_default_profile == 'producer' %}selected{% else %}unselected{% endif %} call__selector-responsive-item" onclick='Call.callSelect("producer", "{% static "vertigo_starts_eu/img/calls/call_workflow_producer.svg" %}")'>As a Producer</span>
        </div>

        <div class="call__content">

            <div id="call__info-artist" class="call__info-block{% if object.call_default_profile != 'artist' %}-hidden{% endif %}">

                <div id="call-steps-list-artist" class="call__steps {% if object.call_default_profile == 'artist' %}call__call-step-artist-responsive{% endif %}">
                    {# Project list #}
                    <a href="{% url "organization-call-project-list" object.slug %}">
                        <div class="call__button call__button-artist">
                            <div class="call__button_text_top">SELECT</div>
                            <div class="call__button_text_bottom">a Tech Project</div>
                        </div>
                    </a>
                    {# Producer list #}
                    <a href="{% url "organization-producer-list" %}">
                        <div class="call__button call__button-artist">
                            <div class="call__button_text_top">See</div>
                            <div class="call__button_text_bottom">available Producers</div>
                            <div class="call__button_text_bottom">(OPTIONAL)</div>
                        </div>
                    </a>
                    {# Residency form #}
                    <a href="{% url 'web:show_application_form' object.slug %}?show_draft">
                        <div class="call__button call__button-artist">
                            <div class="call__button_text_top">SUBMIT</div>
                            <div class="call__button_text_bottom">an Artistic Proposal</div>
                        </div>
                    </a>
                </div>

                <div class="call__subcall_info call__responsive-text-section">
                    {% if object.residency_form_content %}
                        {% editable object.residency_form_content %}
                            {{ object.residency_form_content|richtext_filters|safe }}
                        {% endeditable %}
                    {% endif %}
                </div>

            </div>

            <div id="call__info-project" class="call__info-block{% if object.call_default_profile != 'project' %}-hidden{% endif %}">

                <div id="call-steps-list-project" class="call__steps {% if object.call_default_profile == 'project'%}call__call-step-project-responsive{% endif %}">
                    {# Public Project form #}
                    <a href="{% url "organization-call-project-create" object.slug 'public' %}">
                        <div class="call__button call__button-project">
                            <div class="call__button_text_top">SUBMIT</div>
                            <div class="call__button_text_bottom">a Tech Project</div>
                            <div class="call__button_text_bottom">(PUBLIC FUNDED)</div>
                        </div>
                    </a>
                     {# Private Project form #}
                    <a href="{% url "organization-call-project-create" object.slug 'private' %}">
                        <div class="call__button call__button-project">
                            <div class="call__button_text_top">SUBMIT</div>
                            <div class="call__button_text_bottom">a Tech Project</div>
                            <div class="call__button_text_bottom">(PRIVATELY FUNDED)</div>
                        </div>
                    </a>
                </div>

                <div class="call__subcall_info call__responsive-text-section">
                    {% if object.project_form_content %}
                        {% editable object.project_form_content %}
                            {{ object.project_form_content|richtext_filters|safe }}
                        {% endeditable %}
                    {% endif %}
                </div>

            </div>

            <div id="call__info-producer" class="call__info-block{% if object.call_default_profile != 'producer' %}-hidden{% endif %}">

                <div class="call__steps">
                    <div class="call__button call__button-producer">
                        {# Producer form #}
                        <a href="{% url "organization-producer-create" %}">
                            <div class="call__button_text_top">SUBMIT</div>
                            <div class="call__button_text_bottom">a Production Offer</div>
                        </a>
                    </div>
                </div>

                <div class="call__subcall_info call__responsive-text-section">
                    {% if object.producer_form_content %}
                        {% editable object.producer_form_content %}
                            {{ object.producer_form_content|richtext_filters|safe }}
                        {% endeditable %}
                    {% endif %}
                </div>

            </div>

        </div>

        {% if object.content %}
            <div class="call__main_info">
                {% editable object.content %}
                    {{ object.content|richtext_filters|safe }}
                {% endeditable %}
            </div>
        {% endif %}

    </div>

</div>

{% endblock %}

{% block page_sub_content %}
    {% with object.blocks.all as blocks %}
        {% include "core/inc/block.html" %}
    {% endwith %}
{% endblock %}

{% block page_related_content %}
    {% with dynamic_content=object.dynamic_content_object.all|filter_content object=object %}
        {% include "core/inc/related_content.html" %}
    {% endwith %}
{% endblock %}
