{% extends "vertigo_starts_eu/pages/page.html" %}
{% load mezzanine_tags staticfiles keyword_tags i18n organization_tags pages_tags %}

{% block meta_title %}
    {{ object.project.title }} X {{ object.artist.first_name }} {{ object.artist.last_name }}
{% endblock %}

{% block meta_keywords %}
    {% metablock %}
    {% keywords_for object as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
    {% endmetablock %}
{% endblock %}

{% block page_class %}
    object
{% endblock %}

{% block body_class %}
    pattern pattern-bg {{ department.pages.all.0.weaving_css_class }}
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li class="breadcrumb__item active">{{ object.project.title }} X {{ object.artist.first_name }} {{ object.artist.last_name }}</li>
{% endblock %}

{% block page_tags %}

    {% comment %}
        {% if department %}
            <div class="tag dashed dashed--yellow">
               {{ object.title }}
            </div>
        {% endif %}
        <div class="tag tag--category">
            {% trans 'Project' %}
        </div>
    {% endcomment %}

{% endblock %}

{% block page_title %}

{% endblock %}

{% block main %}

<script type="text/javascript" src="{% static "mezzanine/js/jquery-1.8.3.min.js" %}"></script>

<script>

function changeOptionDetail(event,this) {

    event.preventDefault();

    var firstDiv = document.getElementById("first_div");
    var secondDiv = document.getElementById("second_div");
    var thirdDiv = document.getElementById("third_div");
    var fourthDiv = document.getElementById("fourth_div");

    firstDiv.style.display = 'none';
    secondDiv.style.display = 'none';
    thirdDiv.style.display = 'none';
    fourthDiv.style.display = 'none';

    var linkArtist = document.getElementById("artist");
    var linkArtistResidency = document.getElementById("artist_residency");
    var linkProject = document.getElementById("project");
    var linkOutcome = document.getElementById("outcome");

    var buttons = document.getElementsByClassName('residency-detail__button');

    for (var i = 0; i < buttons.length; i++)
    {
        buttons[i].classList.remove('active');
    }

    if (link.id === 'artist')
    {
        firstDiv.style.display = 'block';
        linkArtist.classList.add('active');
    }

    if (link.id === 'artist_residency')
    {
        secondDiv.style.display = 'block';
        linkArtistResidency.classList.add('active');
    }

    if (link.id === 'project')
    {
        thirdDiv.style.display = 'block';
        linkProject.classList.add('active');
    }

    if (link.id === 'outcome')
    {
        fourthDiv.style.display = 'block';
        linkOutcome.classList.add('active');
    }
}

function changeFollowStatus(event,object) {

  event.preventDefault();

  var styleList = document.getElementById("element-social").classList;

  var followItem = document.getElementById("element-social-follow");
  var unfollowItem = document.getElementById("element-social-unfollow");

  var followItemContent = document.getElementById("start-follow-item");
  var unfollowItemContent = document.getElementById("stop-follow-item");

  for (var i = 0; i < styleList.length;i++) {

    var currentStyle = styleList[i];

    if (currentStyle == "page__circle-cross-red") {

      object.classList.add("page__circle-check-green");
      object.classList.remove("page__circle-cross-red");

      followItem.style.display = "block";
      unfollowItem.style.display = "none";

      followItemContent.style.display = "block";
      unfollowItemContent.style.display = "none";
      break;
    }

    if (currentStyle == "page__circle-check-green") {

      object.classList.add("page__circle-cross-red");
      object.classList.remove("page__circle-check-green");

      followItem.style.display = "none";
      unfollowItem.style.display = "block";

      followItemContent.style.display = "none";
      unfollowItemContent.style.display = "block";
      break;
    }
  }
}

$(function(){
  var bodyItem = document.getElementById("body");

  bodyItem.style.background = "white";
})

</script>

{% comment %}
<div class="row">
    <div class="col-sm-16 col-md-10 col-md-push-3 tac">
        <h1 class="section-title section-title--uppercase section-title--main section-title--underline">{% trans "Current Residencies" %}</h1>
    </div>
</div>
{% endcomment %}

<div style="width:100%;height:auto;background:gray;padding-bottom:5%">
  <div style="text-align:center;color:white;padding-top:4%">
    <div style="text-align:center">
      <div style="font-size:50px;font-family:'Oswald',sans-serif;display:inline-block">{{ object.project.title }}</div>
      <div id="element-social" class="page__circle-cross-red " style="position:absolute;cursor:pointer;display:inline-block;margin-top:-1.5%" onclick="changeFollowStatus(event,this);">
        <i id="element-social-follow" class="fa fa-check page__style-check-icon" style="display:none;" aria-hidden="true"></i>
        <i id="element-social-unfollow" class="fa fa-close page__style-cross-icon" style="display:block;" aria-hidden="true"></i>
      </div>
    </div>
    <div style="font-size:20px;font-family:'Helvetica';margin-top:1%;">{{ object.description|truncatechars:50 }}</div>
  </div>
  <div style="margin-top:2%;text-align:center;color:white">
    <div style="font-size:20px;font-family:'Helvetica';">{{ object.artist.first_name }} {{ object.artist.last_name }}</div>
    <div style="font-size:20px;font-family:'Helvetica';">+</div>
    <div style="font-size:20px;font-family:'Helvetica';">
      {% with object.producers.all as producers %}
          {% if producers %}
              {% if producers|length > 0 %}
                  {{ producers.0.organization }}
              {% endif %}
          {% endif %}
      {% endwith %}
    </div>
    <div style="font-size:20px;font-family:'Helvetica';">{{ object.city }}, {{ object.country.name }}</div>
  </div>
  {% if object.keywords.all %}
  <div style="margin-top:2%;color:#50e3c2;font-family:'Oswald',sans-serif;font-size:20px;width:100%;margin 0 auto;text-align:center;display:block;height:auto;">
    {% for kw in object.keywords.all %}
        <div style="border:.2em solid #50e3c2;margin:0 auto;padding:0.5%;height:auto;border-radius:.2em;display:inline-block;margin-left:1%">{{ kw }}</div>
    {% endfor %}
  </div>
  {% endif %}

  <div class="page__main-timeline-style">
    <div class="page__timeline-first-row">
      <div style="margin:0 auto">Call for Submissions</div>
      <div style="margin:0 auto">End for Submissions</div>
      <div style="margin:0 auto">Results Announcements</div>
    </div>
    <div class="page__timeline-draw">
      <div class="page__timeline-draw-part-one"></div>
      <div class="page__timeline-draw-part-two"></div>
      <div class="page__timeline-draw-part-three"></div>
      <div class="page__timeline-draw-part-four"></div>
      <div class="page__timeline-draw-part-five"></div>
    </div>
    <div class="page__timeline-info">
      <div style="margin:0 auto">April 15, 2019</div>
      <div style="margin:0 auto">May 5, 2019</div>
      <div style="margin:0 auto">June 2, 2019</div>
    </div>
    <div class="page__timeline-info">
      <div style="margin:0 auto">3 PM UTC</div>
      <div style="margin:0 auto">4 PM UTC</div>
      <div style="margin:0 auto">5 PM UTC</div>
    </div>
  </div>
 </div>
</div>

<div class="page__submenu-public-profile" {% if person.images.all|length == 0 %} style="padding-top:5%"{% endif %}>
  <a href="#" style="margin: 0 auto"><span id="about-item" onclick="changeOptionDetail(event,this);" class="page__option-selected">About</span></a>
  <a href="#" style="margin: 0 auto"><span id="artistic-item" onclick="changeOptionDetail(event,this);" class="page__option-unselected">Artistic Proposal</span></a>
  <a href="#" style="margin: 0 auto"><span id="artist-item" onclick="changeOptionDetail(event,this);" class="page__option-unselected">Artist</span></a>
  <a href="#" style="margin: 0 auto"><span id="blog-item" onclick="changeOptionDetail(event,this);" class="page__option-unselected">Residency Blog</span></a>
  <a href="#" style="margin: 0 auto"><span id="followers-item" onclick="changeOptionDetail(event,this);" class="page__option-unselected">Followers</span></a>
</div>

<div style="background:lightgray;width:100%;height:2px;margin-top:5px"></div>

<div id="start-follow-item" class="page__follow-public-text-spaceless" style="display:none;">
  <b>You just started following {{ object.project.title }}.</b><br />
  You will receive updates monthly by mail.
</div>
<div id="stop-follow-item" class="page__unfollow-public-text-spaceless" style="display:block;">
  <b>You just stopped following {{ object.project.title }}.</b><br />
  You will no longer receive updates by mail.
</div>

<div id="content-about-item">content-about-item</div>
<div id="content-artistic-item">ontent-artistic-item</div>
<div id="content-artist-item">content-artist-item"</div>
<div id="content-blog-item">content-blog-item</div>
<div id="content-followers-item">content-followers-item</div>

{% comment %}
<div class="residency-detail__background-main residency-detail__margin-global">

    <div>
        <div class="residency-detail__header">
            <div class="residency-detail__header-previous">
                <a href="{{ previous_residency.get_absolute_url }}"></a>
            </div>
            <div class="residency-detail__header-next">
                <a href="{{ next_residency.get_absolute_url }}"></a>
            </div>
            {% with object.images.all|get_type:'slider' as images %}
                {% if images %}
                <div class="residency-detail__header-image" style="background-image: linear-gradient(rgba(0, 64, 64, 0.2), rgba(0, 64, 64, 0.2)), url('{{ MEDIA_URL }}{% thumbnail images|first 0 400 padding=true %}');">
                {% else %}
                <div class="residency-detail__header-image">
                {% endif %}
                    <span>
                        {{ object.project.title }} <br><br><br>
                        X <br><br><br>
                        {{ object.artist.first_name }} {{ object.artist.last_name }}
                    </span>
                </div>
            {% endwith %}
        </div>

        <div class="residency-detail__header-text">
            {{ object.description }}
        </div>
    </div>


    <div class ="row residency-detail__margin-row">
            <div class="col-sm-16 col-md-12 residency-detail__center-buttons">
                <a id='artist' class="residency-detail__button-residency-style residency-detail__button" href="#" onclick="clickedLink(this,event);">{% trans "The artist" %}</a>
                <a id='artist_residency' class="residency-detail__button-residency-style residency-detail__button active" href="#" onclick="clickedLink(this,event);">{% trans "Artist residency" %}</a>
                <a id='project' class="residency-detail__button-residency-style residency-detail__button" href="#" onclick="clickedLink(this,event);">{% trans "The project" %}</a>
          {#      <a id='outcome' class="residency-detail__button-residency-style residency-detail__button" href="#" onclick="clickedLink(this,event);">{% trans "Outcome" %}</a>#}
            </div>
    </div>
    <div class="residency-detail__green-top-line"></div>
    <div class="residency-detail__block--white residency-detail__margin-white">
        <div style="background-color: #FFFFFF" />
    </div>

    <div id="first_div" class="residency-detail__hide-container">
        <div class="residency-detail__disable-overflow">
            <div class="residency-detail__margin-block">
                <div>
                    <div class="residency-detail__image-left">
                      <img  src="{{ MEDIA_URL }}{% thumbnail object.artist.images.all|first 300 300 padding=true %}">
                      {% if object.artist.images.all.0.credits|length > 0 %}
                        <div style="text-align:left">
                          <p sytle="color:black;font-size:12px;">Credits: {{ object.artist.images.all.0.credits }}</p>
                        </div>
                      {% endif %}
                    </img>
                    </div>
                    <div class="residency-detail__title">{{ object.artist.first_name }} {{ object.artist.last_name }}</div>
                    <div class="residency-detail__text-detail">
                        <p>{{ object.artist.bio|safe }}</p>
                        {% with object.artist.links.all as links %}
                            {% if links %}
                                {% with links|get_type_link:"link" as webpage_links %}
                                    {% if webpage_links %}
                                        <div class="residency-detail__underline-text">
                                            <a href="{{ webpage_links|first|safe }}">{{ webpage_links|first }}</a>
                                        </div>
                                    {% endif %}
                                {% endwith %}
                                    <div class="residency-detail__social-links">
                                        {% with links|get_type_link:"facebook" as facebook_links %}
                                        {% if facebook_links %}
                                            <a class="residency-detail__social-link" href="{{ facebook_links|first|safe }}">
                                                <img src="{{ STATIC_URL }}vertigo_starts_eu/src/assets/img/vertigo/logos/facebook-logo-residencies.png" width="32" height="32" alt="Facebook">
                                            </a>
                                        {% endif %}
                                        {% endwith %}
                                        {% with links|get_type_link:"twitter" as twitter_links %}
                                            {% if twitter_links %}
                                                <a class="residency-detail__social-link" href="{{ twitter_links|first|safe }}">
                                                    <img src="{{ STATIC_URL }}vertigo_starts_eu/src/assets/img/vertigo/logos/twitter-logo-residencies.png" width="32" height="32" alt="Twitter">
                                                </a>
                                            {% endif %}
                                        {% endwith %}
                                        {% with links|get_type_link:"youtube" as youtube_links %}
                                        {% if youtube_links %}
                                            <a class="residency-detail__social-link" href="{{ youtube_links|first|safe }}">
                                                <img src="{{ STATIC_URL }}vertigo_starts_eu/src/assets/img/vertigo/logos/youtube-logo-residencies.png" width="32" height="32" alt="Youtube">
                                            </a>
                                        {% endif %}
                                        {% endwith %}
                                        {% with links|get_type_link:"instagram" as instagram_links %}
                                        {% if instagram_links %}
                                            <a class="residency-detail__social-link" href="{{ instagram_links|first|safe }}">
                                                <img src="{{ STATIC_URL }}vertigo_starts_eu/src/assets/img/vertigo/logos/instagram-logo-residencies.png" width="32" height="32" alt="Instagram">
                                            </a>
                                        {% endif %}
                                        {% endwith %}
                                    </div>
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>

        {% block page_audio %}
          {% with object.artist as object %}
              {{ block.super }}
          {% endwith %}
        {% endblock %}

        {% block page_slider %}
            {% with object.artist as object %}
                {{ block.super }}
            {% endwith %}
        {% endblock %}

        {% block page_video %}
          {% with object.artist as object %}
              {{ block.super }}
          {% endwith %}
        {% endblock %}

    </div>

    <div id="second_div" class="show-detail__hide-container">
        <div>
            <div class="residency-detail__margin-block">
                <div>
                    <div class="residency-detail__title">{{ object.title }}</div>
                    <p>{{ object.content|safe }}</p>

                    {% if object.date_from and object.date_to %}

                        <div class="residency-detail__title">{% trans "About this residency" %}</div>
                            <br>
                            <div class="residency-detail__details">
                                <div class="residency-detail__map" id="network-map-small"></div>
                                {% if object.lat and object.lon %}
                                    <div class="container hide">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-10 col-md-push-1">
                                                <div class="slider-network">
                                                    <ul class="slider-network__slider" data-slider-network>
                                                        <li class="slider-network__slide" data-marker-small-color="blue" data-marker-small-idx="{{forloop.counter0}}" data-marker-small-lat="{{ object.lat }}" data-marker-small-lng="{{ object.lon }}">
                                                            <div class="slider-network__slide-title" data-marker-small-title>
                                                                {{ object.title }}
                                                            </div>
                                                            <div class="slider-network__slide-subtitle" data-marker-small-subtitle>
                                                                {{ object.city }}, {{ object.country.name }}
                                                            </div>
                                                            <div class="slider-network__slide-description" data-marker-small-description>
                                                                {{ object.description }}
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="residency-detail__width-text-second-tab">
                                    {% if object.date_from %}
                                        From {{ object.date_from}}
                                        {% if object.date_to %}
                                            to {{ object.date_to }}
                                        {% endif %}
                                        <br><br>
                                    {% endif %}
                                    {% with object.producers.all as producers %}

                                        {% if producers %}
                                            {% if producers|length == 1 %}
                                                Producer: {{ producers.0.organization }}<br>
                                            {% else %}
                                                Producers:
                                                {% for producer in producers %}
                                                    {% if forloop.first %}
                                                        {{ producer.organization }}
                                                    {% else %}
                                                        — {{ producer.organization }}
                                                    {% endif %}
                                                {% endfor %}
                                                <br>
                                            {% endif %}
                                        {% endif %}
                                    {% endwith %}
                                    {% if object.city and object.country %}
                                        Localization: {{ object.city }}, {{ object.country }}<br><br>
                                    {% endif %}
                                    {% for keyword in object.keywords.all %}
                                        {{ keyword }} &nbsp;
                                    {% endfor %}
                                </div>
                            </div>
                            {% with object.user_images.all as user_images %}
                                {% if object.user_images %}
                                    <div>
                                        <div class="page__slider">
                                            <ul class="slider-page" data-slider-page>
                                                {% for user_image in user_images %}
                                                    <li class="slider-page__slide" data-src="{{ MEDIA_URL }}{{ user_image.file }}">
                                                        <div class="slider-page__wrapper">
                                                            <img title="{{ user_image.title }}" alt="{{ user_image.title }} {{ user_image.description }} {{ user_image.credits }}" class="slider-page__img" src="{{ MEDIA_URL}}{% thumbnail user_image.file 0 400 %}" alt="" />
                                                            <div class="slider-page__caption">
                                                                {{ user_image.title }}
                                                                {% if user_image.description %}
                                                                    {{ user_image.description }}
                                                                {% endif %}
                                                                {% if user_image.credits|length > 0 %}
                                                                    {{ user_image.credits }}
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endwith %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div id="third_div" class="residency-detail__hide-container">
        <div class="residency-detail__disable-overflow">
            <div class="residency-detail__margin-block">
                <div>
                    <div class="residency-detail__title">{{ object.project.title }}</div>
                    <br>
                    {% with object.project.public_data.all|first as project_public_data %}
                        <div class="residency-detail__right-image">
                            {% if project_public_data.image_is_panoramic %}
                                <img src="{{ MEDIA_URL }}{% thumbnail project_public_data.image 300 0 padding=true %}"  />
                            {% else %}
                                <img src="{{ MEDIA_URL }}{% thumbnail project_public_data.image 0 300 padding=true %}" />
                            {% endif %}
                            {% if object.project.public_data.all.0.credits|length > 0 %}
                              <div style="text-align:left">
                                <p sytle="color:black;font-size:12px;">Credits: {{ object.project.public_data.all.0.credits }}</p>
                              </div>
                            {% endif %}
                        </div>
                        <div class="residency-detail__text-detail">
                            <p>{{ project_public_data.challenges_description }}</p>
                        </div>
                    {% endwith %}
                </div>

            </div>
        </div>
        <a class="residency-detail__margin-block residency-detail__button-project residency-detail__margin-bottom-third-tab" href="{{ object.project.get_absolute_url }}">{% trans "Find more" %}</a>
    </div>

    <div id="fourth_div" class="residency-detail__hide-container residency-detail__margin-main-top">

        {% if object.images %}
        <div class="residency-detail__container-image-banner-outcome" style="background-image: linear-gradient(to top, rgba(0, 15, 36, 100%), rgba(0, 0, 0, 5%)), url('{{ MEDIA_URL }}{% thumbnail object.images.all|first 0 0 padding=true %}')">
            <div class="residency-detail__image-banner-outcome">{{ object.title }}</div>
        </div>
        {% endif %}

        <div class="residency-detail__banner-style-top">

            <div class="residency-detail__first-row-style-banner">{{ object.artist.first_name }} {{ object.artist.last_name }} {% if object.producers.all %} X {{ object.producers.all.0.organization }}{% endif %}</div>
            <div class="residency-detail__second-row-style-banner">{{ object.description }}</div>

            {% if object.keywords.all %}
            <div id="tags-detail-project" class="project-ict-detail__main_info-keywords residency-detail__tags-style-banner">
            {% for kw in object.keywords.all %}
                <span class="project-ict-detail__main_info-keywords-tags">{{ kw }}</span>
            {% endfor %}
            </div>
            {% endif %}
        </div>

        <div class="residency-detail__disable-overflow">
            <div class="residency-detail__margin-block">
                <div class="residency-detail__content-detail">
                  <div class="residency-detail__title">The artwork</div>
                  <p>{{ object.content|safe }}</p>
                </div>
            </div>

            {# SLIDER #}
            {% if object.images %}
            <div class="project-ict-detail__slider">
                <div class="page__slider detail_slider">
                    <ul class="slider-page" data-slider-page>
                        {% for image in object.images.all %}
                            <li class="slider-page__slide" data-src="{{ MEDIA_URL }}{{ image.file }}">
                                <div class="slider-page__wrapper">
                                    <img title="{{ image.title }}" alt="{{ image.title }} {{ image.description }} {{ image.credits }}" class="slider-page__img" src="{{ MEDIA_URL}}{% thumbnail image.file 0 520 %}" alt="" />
                                    <div class="slider-page__caption">
                                        {% if image.credits|length > 0 %}
                                            Credits: {{ image.credits }}
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}

            <div class="residency-detail__margin-block residency-detail__single-margin-top">
                <div>
                  <div class="residency-detail__title residency-detail__artist-section-margin">About the artist</div>
                  <div class="residency-detail__custom-image-margin">
                    <div class="residency-detail__image-left">
                      <img  src="{{ MEDIA_URL }}{% thumbnail object.artist.images.all|first 300 300 padding=true %}">
                      {% if object.artist.images.all.0.credits|length > 0 %}
                        <div class="residency-detail__item-left-align">
                          <p sytle="color:black;font-size:12px;">Credits: {{ object.artist.images.all.0.credits }}</p>
                        </div>
                      {% endif %}
                    </img>
                    </div>
                    <div class="residency-detail__title">{{ object.artist.first_name }} {{ object.artist.last_name }}</div>
                    <div class="residency-detail__text-detail">
                        <p>{{ object.artist.bio|safe }}</p>
                    </div>
                  </div>
                </div>
            </div>
            <div class="residency-detail__margin-block residency-detail__single-margin-top">
              <div class="residency-detail__disable-overflow">
                  <div class="residency-detail__margin-block">
                      <div>
                        <div class="residency-detail__title">The technology</div>
                        <div class="residency-detail__title-technology-section">{{ object.title }}</div>
                        {% with object.artist.links.all as links %}
                            {% if links %}
                                {% with links|get_type_link:"link" as webpage_links %}
                                    {% if webpage_links %}
                                      <div>
                                          <a class="residency-detail__green-style-color" href="{{ webpage_links|first|safe }}">{{ webpage_links|first }}</a>
                                      </div>
                                    {% endif %}
                                 {% endwith %}
                            {% endif %}
                        {% endwith %}
                      </div>
                      <br>
                      <div>
                        <p>{{ object.description }}</p>
                      </div>
                  </div>
                </div>
            </div>
            <div class="residency-detail__margin-block">
              <div class="residency-detail__disable-overflow">
                  <div class="residency-detail__margin-block residency-detail__single-margin-top">
                      <div>
                        <div class="residency-detail__title">About the residency</div>
                      </div>
                  </div>
                  <div class="residency-detail__margin-custom-residency">
                    {% with object.project.public_data.all|first as project_public_data %}
                        <div>
                            <p>{{ project_public_data.challenges_description }}</p>
                        </div>
                        <div style="text-align:center">
                            {% if project_public_data.image_is_panoramic %}
                                <img src="{{ MEDIA_URL }}{% thumbnail project_public_data.image 300 0 padding=true %}"  />
                            {% else %}
                                <img src="{{ MEDIA_URL }}{% thumbnail project_public_data.image 0 300 padding=true %}" />
                            {% endif %}
                        </div>
                    {% endwith %}
                  </div>
                </div>
            </div>

            {% with object.producers.all as producers %}
               {% if producers %}
                  <div class="residency-detail__margin-block residency-detail__producer-margin">
                    <div class="residency-detail__disable-overflow">
                        <div class="residency-detail__margin-block">
                            <div>
                              <div class="residency-detail__title">About the producer</div>
                            </div>
                        </div>
                        <div class="residency-detail__frame-producer-square">
                            {% with object.images.all|get_type:'slider' as images %}

                                {% if images %}
                                  <div class="residency-detail__header-image" style="background-image: url('{{ MEDIA_URL }}{% thumbnail images|first 0 400 padding=true %}');"></div>
                                {% endif %}

                                <div class="residency-detail__tile-producer-style">{{ producers.0.organization }}</div>
                                <div class="residency-detail__text-style-produces-top residency-detail__green-style-color " style="margin-top:1%">{{ producers.0.url }}</div>
                                <div class="residency-detail__text-style-produces-top residency-detail__green-style-color " style="margin-top:2%">{{ producers.0.description }}</div>

                            {% endwith %}
                        </div>
                      </div>
                  </div>
               {% else %}
                  <div style="margin-top:3%"></div>
               {% endif %}
            {% endwith %}
        </div>
    </div>
</div>

{% if object.articles %}
    <div class="page" id="residency_news">

        <div class="container">
            <div class="row">
                <div class="col-sm-16 col-md-10 col-md-push-3 tac">
                    <h1 class="section-title section-title--uppercase section-title--main section-title--underline">{% trans "News" %}</h1>
                </div>
            </div>

            <div class="row">
                <div class="mb2 col-md-12 col-md-push-2 page__content" data-summary-content>
                    <div class="page__content">
                        <div class="container">
                            <div class="row">
                                {% for article in object.articles %}
                                    <div class="col-xs-8">
                                        {% with app_label=object|app_label_short classname=object|classname|lower  %}
                                            {% with app_label|add:"/"|add:classname|add:"/includes/"|add:classname|add:"article_card.html" as template_article %}
                                                {% include template_article %}
                                            {% endwith %}
                                        {% endwith %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% pagination_for object.articles %}
    </div>
{% endif %}

{% if object.events %}
    <div class="page" id="residency_events">

        <div class="container">
            <div class="row">
                <div class="col-sm-16 col-md-12 col-md-push-2 tac">
                    <h1 class="section-title section-title--uppercase section-title--main project-ict-detail__big-text">{% trans "Events" %}</h1>
                </div>
            </div>

            <div class="row">
                <div class="mb2 col-md-12 col-md-push-2 page__content" data-summary-content>
                    <div class="page__content">
                        {% for event in object.events %}
                            {% include 'agenda/includes/event_linecard.html' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endcomment %}
{% endblock %}
