{% extends "vertigo_starts_eu/pages/page.html" %}
{% load mezzanine_tags staticfiles keyword_tags i18n organization_tags pages_tags %}

{% comment %}
<script src="{% static "vertigo_starts_eu/static/home/home_modifier.js" %}"></script>
{% endcomment %}



{% block extra_head %}


    <script type="text/javascript" src="{% static "mezzanine/js/jquery-1.8.3.min.js" %}"></script>
    <script>
        $(function(){
            $(".list_header").click(function () {
                $header = $(this);
                $content = $header.next();
                $content.slideToggle(500);
            });
        });
    </script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
      integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
      crossorigin=""/>

      <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
      integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
      crossorigin=""></script>

   <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"
      crossorigin=""></link>
   <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"
      crossorigin=""></link>


    <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"
      crossorigin=""></script>


        <script type="text/javascript">
            var selectedFilters = []
            function addFilter(residencyButton, keyword) {
                if (selectedFilters.length == 0) {
                    var buttons = document.getElementsByClassName('button-residency');
                    for (i = 0; i < buttons.length; i++) {
                        buttons[i].classList.add('button-residency-unselected');
                    }
                }
                residencyButton.classList.remove('button-residency-unselected');
                residencyButton.classList.add('button-residency-selected');
                residencyButton.onclick = function() {
                    removeFilter(residencyButton, keyword);
                };
                selectedFilters.push(keyword);
                filterResidencies();
            }
            function removeFilter(residencyButton, keyword) {
                residencyButton.classList.remove('button-residency-selected');
                residencyButton.classList.add('button-residency-unselected');
                residencyButton.onclick = function() {
                    addFilter(residencyButton, keyword);
                };
                var index = selectedFilters.indexOf(keyword);
                if (index > -1) {
                    selectedFilters.splice(index, 1);
                }
                if (selectedFilters.length == 0) {
                    var buttons = document.getElementsByClassName('button-residency');
                    for (i = 0; i < buttons.length; i++) {
                        buttons[i].classList.remove('button-residency-unselected');
                    }
                }
                filterResidencies();
            }
            function filterResidencies() {
                console.log("Current filters: " + selectedFilters)
                {% for object in object_list %}
                    var residency = document.getElementById('{{ object.slug }}');
                    if (selectedFilters.length == 0) {
                        $(residency).show();
                    } else {
                        $(residency).hide();
                        {% for keyword in object.keywords.all %}
                            var index = selectedFilters.indexOf("{{ keyword.id }}");
                            if (index > -1) {
                                $(residency).show();
                            }
                        {% endfor %}
                    }
                {% endfor %}
            }
        </script>



{% endblock %}


{% block meta_title %}
    {% trans "Current Residencies" %}
{% endblock %}


{% block meta_keywords %}
    {% metablock %}
    {% keywords_for object as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
    {% endmetablock %}
{% endblock %}





{% block body_class %}
    pattern pattern-bg {{ department.pages.all.0.weaving_css_class }}
{% endblock %}


{% block breadcrumb_menu %}
    {{ block.super }}
    <li class="breadcrumb__item active">{{ object.title }}</li>
{% endblock %}


{% block page_tags %}

    {% comment %}
        {% if department %}
            <div class="tag dashed dashed--yellow">
              {{ department.pages.all.0.title }}
            </div>
        {% endif %}
        <div class="tag tag--category">
            {% trans 'Residency' %}
        </div>
    {% endcomment %}

{% endblock %}


{% block page_title %}

    <h1 class="dotted">
        {% trans "Current Residencies" %}
    </h1>

{% endblock %}


{% block main %}

<script>

  var currentMap;

  function reloadContentTags(id_item) {

      var clickedItem = document.getElementById(id_item);
      var altItem = document.getElementById((id_item == "dots-item") ? "map-marker" : "dots-item");

      var clickedItemIcon = document.getElementById(id_item + "-icon");
      var altItemIcon = document.getElementById(((id_item == "dots-item") ? "map-marker" : "dots-item") + "-icon");

      altItem.classList.remove("article-box__icon-marker-item-highlight");
      altItem.classList.add("article-box__icon-marker-item-clean");

      altItemIcon.classList.remove("article-box__icon-marker-item-highlight-icon");
      altItemIcon.classList.add("article-box__icon-marker-item-clean-icon");

      clickedItem.classList.add("article-box__icon-marker-item-highlight");
      clickedItem.classList.remove("article-box__icon-marker-item-clean");

      clickedItemIcon.classList.add("article-box__icon-marker-item-highlight-icon");
      clickedItemIcon.classList.remove("article-box__icon-marker-item-clean-icon");

      var mapElement = document.getElementById("map-element-content");
      var listElemet = document.getElementById("residency-list");

      if (id_item == "dots-item") {

        mapElement.style.display = "none";
        listElemet.style.display = "block";

      } else {

        mapElement.style.display = "block";
        listElemet.style.display = "none";

        if (jsonContentData) {

          if (!currentMap) {
            createMap();
          }

          if (currentMap) {

            parseJSON(jsonContentData, currentMap);
          }

        } else {

            createMap();
        }
     }
  }

  function changeViewItems(object, event) {

    event.preventDefault();

    var id_item = object.id;

    reloadContentTags(id_item);
  }

  function createMap() {

    $(function() {

        currentMap = L.map('mapid').setView([47.91, 6.85], 2);

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox.streets',
            accessToken: 'pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw',
        }).addTo(currentMap);

      });
  }

  function parseJSONTags(jsonObject) {

      var residencies = jsonObject["residencies"];

      var tags = [];
      for (var i = 0; i < residencies.length; i++) {

        var dict = residencies[i];
        var tagsSingle = dict["keywords"];

        if (tagsSingle.length > 0) {

          tags.push.apply(tags, tagsSingle);
        }
      }

      var counter = document.getElementById("tags-counter");
      counter.innerHTML = tags.length + " results";

      var block = 28;
      var contentTags = document.getElementById("tags-content");

      if (tags.length > 0) {

        var splicedArray = splice_array(tags, block);

        if (splicedArray.length > 0) {

          var arrayTags = splicedArray[0];
          contentTags.innerHTML += "<div id=\"section-0\" style=\"display:block;width:60%;margin:0 auto\"></div>";
          var innerSection = document.getElementById("section-0");

          for (var j = 0; j < arrayTags.length; j++) {

              var tagText = arrayTags[j];
              var singleTag = "<div id=\"tag-search\" class=\"article-box__chevron-tag-style-search article-box__unselect-tag-search\" onclick=\"selectDesectedTag(this, event);\">" + tagText + "</div>"

              innerSection.innerHTML += singleTag;
          }

          if (splicedArray.length > 1) {

            contentTags.innerHTML += "<div id=\"section-1\" style=\"display:none;width:60%;margin:0 auto\"></div>";

            for (var i = 0; i < splicedArray.length; i++) {

              var moreTags = splicedArray[i];

              var innerSection = document.getElementById("section-1");

              for (var j = 0; j < moreTags.length; j++) {

                  var tagText = moreTags[j];
                  var singleTag = "<div id=\"tag-search\" class=\"article-box__chevron-tag-style-search article-box__unselect-tag-search\" onclick=\"selectDesectedTag(this, event);\">" + tagText + "</div>"

                  innerSection.innerHTML += singleTag;
              }
            }

            var dotsElement = document.getElementById("dots-indicator");
            dotsElement.style.display = 'block';

            for (var i = 0; i < 3; i++) {

              dotsElement.innerHTML += "<div id=\"dot-indicator-1\" class=\"article-box__dot-indicator\" style=\"margin-right:0.5%\"></div>";
            }
          }
        }
      }
  }

  function splice_array(arr, len) {

    var chunks = [],
        i = 0,
        n = arr.length;

    for (var i = 0; i < n; i += len) {
      chunks.push(arr.slice(i, i + len));
    }

    return chunks;
  }

  function changeTags(object, event) {

    event.preventDefault();

    var selections = document.getElementsByClassName("article-box__select-tag-search");

    var contentTags = document.getElementById("section-0");
    contentTags.style.display = 'none';

    contentTags = document.getElementById("section-1");
    contentTags.style.display = 'block';

    var dotsElement = document.getElementById("dots-indicator");
    dotsElement.style.display = 'none';

    if (selections.length > 0) {

      var unselections = document.getElementsByClassName("article-box__unselect-tag-search");

      for (var i = 0; i < selections.length; i++) {

        var selItem = selections[i];
        var textSel = selItem.innerText;

        for (var j = 0; j < unselections.length; j++) {

          var unselItem = unselections[j];
          var textUnsel = unselItem.innerText;

          if (textSel == textUnsel) {

            unselItem.classList.remove("article-box__unselect-tag-search");
            unselItem.classList.add("article-box__select-tag-search");

            break;
          }
        }
      }
    }
  }

  function parseJSON(jsonObject, map) {

    $(function() {

        var residencies = jsonObject["residencies"];

        var markers = L.markerClusterGroup({showCoverageOnHover: true,
                                            zoomToBoundsOnClick: true,
                                            removeOutsideVisibleBounds: true});

        var detailMarker = document.getElementById("detail-marker");

        detailMarker.style.display = 'none';

        for (var i = 0; i < residencies.length; i++) {

            var item = residencies[i];

            var lat = item["lat"];
            var lon = item["lon"];
            var name = item["name"];

            var marker = L.marker(new L.LatLng(lat, lon), {  title: name });
            marker.id_value = i;
            marker.title = name;
            marker.on('click', function (e) {

                var id = e.target.id_value;

                var item = residencies[id];

                var name = item["name"];
                var description = item["description"];
                var city = item["city"];
                var keywords = item["keywords"];
                var location = item["mappable_location"];

                var htmlString = "";

                if ('card' in item) {
                  htmlString += "<div style=\"background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('" + item["card"] + "');background-size:cover;max-width:300px;max-height:300px;width:auto;height:300px\">";
                } else {
                  htmlString += "<div style=\"background:lightgray;height:100%\">";
                }

                htmlString += "<div style=\"padding-top:10%;position:relative\">"
                htmlString += "<center>";
                htmlString += "<div style=\"font-size:25px;font-family:'Oswald',sans-serif;padding-left:10%;padding-right:10%\">" + name + "</div>";

                if (description != "") {

                  htmlString += "<div style=\"font-size:15px;font-family:'Helvetica';padding-left:10%;padding-right:10%;margin-top:5%\">" + description + "</div><br>";
                } else {

                  htmlString += "<br>";
                }

                if (keywords.length > 0) {

                  htmlString += "<div style=\"width:auto;margin-right:5%;margin-left:5%;margin-top:5%;display:block\">";
                  htmlString += "<div style=\"border-radius:.2em;border:2px #47dfba solid;color:#47dfba;font-size:15px;text-align:center;font-family:'helvetica';display:inline-block;padding:3%;margin-right:2%\">" + keywords[0] + "</div>";

                  if (keywords.length > 1) {
                    htmlString += "<div style=\"border-radius:.2em;border:2px #47dfba solid;color:#47dfba;font-size:15px;text-align:center;font-family:'helvetica';display:inline-block;padding:3%;margin-right:2%\">" + keywords[1] + "</div>";
                  }

                  htmlString +="</div>";
                }

                if (location != "" && location != null) {

                  htmlString += "<div style=\"font-size:15px;font-family:'Helvetica';padding-right:10%;padding-left:10%\">" + location + "</div>";
                }

                htmlString += "</center>";
                htmlString += "</div></div>";

                detailMarker.innerHTML = htmlString;
                detailMarker.style.display = 'block';
            });

            markers.addLayer(marker);
        }

        map.addLayer(markers);

        map.on('click', function(e) {

            detailMarker.style.display = 'none';
        });
    });
  }

  function showHideChevronTags(object, event) {

    event.preventDefault();

    var id_item = object.id;

    var chevronItem = document.getElementById("chevron-tags");
    var itemsClass = chevronItem.classList;
    var tagsDivContent = document.getElementById("tags-content");

    var openChevron = false;

    for (var i = 0; i < itemsClass.length; i++) {

      if (itemsClass[i].toLowerCase() == 'fa-chevron-down') {

        openChevron = true;
        break;
      }
    }

    if (openChevron) {

      chevronItem.classList.remove("fa-chevron-down");
      chevronItem.classList.add("fa-chevron-up");
      tagsDivContent.style.display = 'block';
    } else {

      chevronItem.classList.remove("fa-chevron-up");
      chevronItem.classList.add("fa-chevron-down");
      tagsDivContent.style.display = 'none';
    }
  }

  function selectDesectedTag(object, event) {

    event.preventDefault();

    var clickedItem = object;

    var itemsClass = clickedItem.classList;

    var selectedTag = true;

    for (var i = 0; i < itemsClass.length; i++) {

      if (itemsClass[i].toLowerCase() == 'article-box__unselect-tag-search') {

        selectedTag = false;
        break;
      }
    }

    if (selectedTag) {

      clickedItem.classList.remove("article-box__select-tag-search");
      clickedItem.classList.add("article-box__unselect-tag-search");

    } else {

      clickedItem.classList.remove("article-box__unselect-tag-search");
      clickedItem.classList.add("article-box__select-tag-search");

    }
  }

  var jsonContentData = {};

  function loadContent() {

    $.ajax({
      type: 'GET',
      url: '/public-network-data/',
      dataType: 'json',
      contentType: 'application/json; charset=utf-8',
      success: function (data) {

          if (data) {

            jsonContentData = data;

            parseJSONTags(jsonContentData);

            var chevronItem = document.getElementById("chevron-tags");
            var tagsDivContent = document.getElementById("tags-content");

            chevronItem.classList.remove("fa-chevron-down");
            chevronItem.classList.add("fa-chevron-up");
            tagsDivContent.style.display = 'block';
          }
      },
      error: function(request, status, errorThrown) {

      }
    });
  }

//  window.onload = loadContent;
  $(function(){
     loadContent();
  })

</script>

<div class="page page--{% spaceless %}{% block page_class %}{% endblock %}{% endspaceless %}"  style="margin-top:-3%;background:white">
    <div class="article-box__title-style-item">
      <h1 class="section-title section-title--uppercase section-title--main article-box__title-underline article-box__content-title">{% trans "Available Residencies" %}</h1>
    </div>
    <div class="container">
      <div class="row">
            <!--<div class="col-sm-16 col-md-10 col-md-push-3 tac">-->
            <div class="article-box__big-content-item">
                <div class="article-box__content-row">

                    <!--<div class="article-box__view-changer-container article-box__space-center-responsive" style="width: 100px;">-->
                    <div class="article-box__tag-item-row">
                      <div id="dots-item" class="article-box__item-marker-common article-box__icon-marker-item-highlight" onclick="changeViewItems(this, event);">
                        <a id="dots-item-icon" class="article-box__icon-marker-item-highlight-icon" href="#">
                          <i class="fa fa-th article-box__align-center-dots"></i>
                        </a>
                      </div>
                      <div id="map-marker" class="article-box__item-marker-common article-box__icon-marker-item-clean" onclick="changeViewItems(this, event);">
                        <a id="map-marker-icon" class="article-box__icon-marker-item-clean-icon" href="#">
                          <i class="fa fa-map-marker article-box__align-center-marker"></i>
                        </a>
                      </div>
                    </div>

                    <div onclick="showHideChevronTags(this, event);" class="project-ict-detail__single-separator project-ict-detail__place-chevron article-box__chevron-style-changer article-box__tranlate-responsive">
                      Filter by Keywords <i id="chevron-tags" class="fa project-ict-detail__divider-chevron-section fa-chevron-down article-box__content-item-reviewer" aria-hidden="true"></i>
                    </div>

                  <div id="tags-counter" class="article-box__tag-counter-item">

                  </div>
              </div>
            </div>

            <div id="tags-content" style="text-align:center;display:none">

              {% comment %}

              {% for kw in object.keywords.all %}
                  <div id="tag-search" class="article-box__chevron-tag-article article-box__unselect-tag-search"  onclick="selectDesectedTag(this, event);">{{ kw|capfirst }}</div>
              {% endfor %}

              {% endcomment %}

            </div>

            <div>
              <a id="dots-indicator" href="#" style="display:none;margin-top:1%;text-align:center;" onclick="changeTags(this, event);"></a>
            </div>

            <div class="article-box__row-item-banner">
              Want to collarobate with Artist?<br/>
              <a href="#" class="article-box__link-banner-row"><b>Click here to start your own Call now!</b></a>
            </div>
        </div>

        <div class="row">

            <div class="mb2 col-md-12 col-md-push-2 page__content" data-summary-content>
                <div class="page__content">
                    <div class="container">
                        <div id="residency-list" class="row page__space-responsive">
                            {% for object in object_list %}
                                <div class="col-xs-8 page__row-responsive" id="{{ object.slug }}">
                                    {% with app_label=object|app_label_short classname=object|classname|lower  %}
                                        {% with app_label|add:"/"|add:classname|add:"/includes/"|add:classname|add:"_card.html" as template %}
                                            {% include template %}
                                        {% endwith %}
                                    {% endwith %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="map-element-content" style="position:relative;display:none;margin-right:-3.5%;margin-top:-2%">
       <div id="mapid">

         <div id="detail-marker" class="project-ict-detail__detail-marker" style="display:none">
         </div>
       </div>
    </div>
    {% pagination_for object_list %}
</div>

{% endblock %}
