{% load i18n pages_tags staticfiles mezzanine_tags organization_tags %}
{% get_language_info_list for LANGUAGES as languages %}


{% spaceless %}
{% if page_branch_in_menu %}

<script>
    function highlight_item(link,event) {

        document.getElementById(link.id).style.background = "#000f24";
        document.getElementById(link.id).style.color = "#ffffff";
    }

    function restore_style(link, event) {

        document.getElementById(link.id).style.background = "#ffffff";
        document.getElementById(link.id).style.color = "#000f24";
    }

    function show_user_menu(link, event) {

      document.getElementById("item_user_menu").style.display = "block";
    }

    function hide_user_menu(link, event) {

      document.getElementById("item_user_menu").style.display = "none";
    }
</script>

<div style="background:#000f24;color:white;width:100%;text-align:center" style="position:relative;">
    {% for page in page_branch %}
        {% if page.content_model == "link" %}
            <li class="nav-actions__item {% if page.is_current_or_ascendant %}active{% endif %}" style="color:black;">
                <a class="nav-actions__item-link" style="color:white" href="{{ page.get_absolute_url }}">{{ page.title }}</a>
            </li>
        {% endif %}
    {% endfor %}
    <div class="nav-header__item nav-header__item--right nav-header__item--no-separator" style="font-weight:bold;position:relative;align:right;font-size:13px;float:right;margin-right:5px">
        {% if request.user.is_authenticated %}
            <div id="username_hover" onmouseover="show_user_menu(this, event)" >
              <a href="/accounts/update/" style="color:white">
                  {{ request.user }}&nbsp;
                  <i class="fa fa-user fa-2x" aria-hidden="true" ></i>
              </a>
            </div>
            <div id="item_user_menu" style="background: rgb(0, 15, 36) none repeat scroll 0% 0%; text-align: center; width: 200px; display:none;position:absolute;">
              <div class="row" style="margin:0px;">
                <ul style="padding:0px;margin:0px;list-style:none;text-align:left">
                  <li class="nav-header__item-user" style="margin-bottom:10px;">
                    <div style="width:100%;height:1px;background:white;margin-bottom:10px"></div>
                    <a href="/accounts/update/" style="color:white;padding-left:5px;font-family:Oswald,sans-serif;font-size:15px" title="Profile">Profile</a>
                  </li>
                  <li class="nav-header__item-user" style="margin-bottom:10px;">
                    <div style="width:100%;height:1px;background:white;margin-bottom:10px"></div>
                    <a href="/accounts/logout/" style="color:white;padding-left:5px;font-family:Oswald,sans-serif;font-size:15px" title="Logout">Logout</a>
                  </li>
                </ul>
              </div>
            </div>
        {% else %}
            <a href="/accounts/login/" style="color:white">Sign In</a>
            <i style="color:white">&nbsp;/&nbsp;</i>
            <a href="/accounts/signup/" style="color:white">
                Sign Up&nbsp;
                <i class="fa fa-user fa-2x" aria-hidden="true"></i>
            </a>
        {% endif %}
    </div>
</div>

    {% for page in page_branch %}
        {% if page.is_primary %}
            {% if forloop.first %}
                <ul class="nav-header" role="navigation" style="text-align:center;list-style:none;">
                    <li class="nav-header__item menu-btn">
                        <span class="first"></span>
                        <span class="second"></span>
                    </li>
                    <li class="nav-header__item nav-header__item--image-big">
                        <a href="{% url "home" %}" title="{% trans 'Home' %}">
                            {% with host_organization.images|get_type:"logo_header" as images %}
                                {% if images %}
                                    {% with images|first as img %}
                                        <img src="{{ MEDIA_URL }}{{ img }}" title="{{ img.title }}" style="margin-top:-15px"/>
                                    {% endwith %}
                                {% endif %}
                            {% endwith %}
                        </a>
                    </li>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% for page in page_branch %}
        {% if page.in_menu %}
            {% if page.content_model == "link" %}
                {% with page.link.link_images.all|first as link_image %}
                    {% if link_image %}

                        <li class="nav-header__item nav-header__item--image">
                            <a id="item{{forloop.counter0}}"  href="{{ page.get_absolute_url }}"{% if 'http' in page.link.slug %} target="_blank"{% endif %} title="{{ page.title }}"><img width="83" height="65" src="{{ MEDIA_URL }}{% thumbnail link_image.image 166 130 %}" onmouseout="restore_style(this,event)" onmouseover="highlight_item(this,event)"/></a>
                        </li>
                    {% else %}

                        <li class="nav-header__item" style="color:#000f24;background:white">
                            <a id="item{{forloop.counter0}}" class="nav-header__item-link{% if page.is_current_or_ascendant %} active{% endif %}" href="{{ page.get_absolute_url }}"{% if 'http' in page.link.slug %} target="_blank"{% endif %} title="{{ page.title }}" onmouseout="restore_style(this,event)" onmouseover="highlight_item(this,event)">{{ page.title }}</a>
                        </li>

                    {% endif %}
                {% endwith %}
            {% else %}
                <li class="nav-header__item" style="color:#000f24;background:white">
                    <a id="item{{forloop.counter0}}" class="nav-header__item-link{% if page.is_current_or_ascendant %} active{% endif %}" href="{{ page.get_absolute_url }}" title="{{ page.title }}" onmouseout="restore_style(this,event)" onmouseover="highlight_item(this,event)">{{ page.title }}</a>

                    {% if page.has_children_in_menu %}
                        {% page_menu page "pages/menus/header_tree_primary_dark.html" %}
                    {% endif %}
                </li>
            {% endif %}

        {% endif %}
        {% if page.is_primary %}
            {% if forloop.last %}

                {% comment %}
                <li class="nav-header__item nav-header__item--right nav-header__item--separator">
                    {% include "includes/languages.html" %}
                </li>
                <li class="nav-header__item nav-header__item--centered nav-header__item--right nav-header__item--no-separator">
                    <a href="#" class="fsxl" data-open-button="search" data-search-button><i class="fa fa-search" aria-hidden="true"></i></a>
                </li>
                {% endcomment %}
                {% comment %}
                <li class="nav-header__item nav-header__item--centered nav-header__item--right nav-header__item--no-separator">
                    {% if request.user.is_authenticated %}
                        <a href="/accounts/update/">
                            {{ request.user }} &nbsp;
                            <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                        </a>
                    {% else %}
                        <a href="/accounts/login/">
                            Sign In / Sign Up &nbsp;
                            <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                </li>
                {% endcomment %}
            </ul>
            {% endif %}
        {% endif %}
    {% endfor %}
    </ul>
{% endif %}

{% endspaceless %}
